/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mont", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #222222;
  background: #fcfcfe;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  outline: none;
}
button {
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.unscrolled {
  overflow-y: hidden;
}
.hidden-input {
  display: none;
}
input::-webkit-input-placeholder {
  color: #838383;
}
input::-moz-placeholder {
  color: #838383;
}
input:-moz-placeholder {
  color: #838383;
}
input:-ms-input-placeholder {
  color: #838383;
}
textarea::-webkit-input-placeholder {
  color: #838383;
}
textarea::-moz-placeholder {
  color: #838383;
}
textarea:-moz-placeholder {
  color: #838383;
}
textarea:-ms-input-placeholder {
  color: #838383;
}
textarea {
  resize: none;
}
input,
textarea {
  padding: 10px 16px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  border: 1px solid #dddddd;
}
input:focus,
textarea:focus {
  padding: 9px 15px;
  border: 2px solid #f1cc43;
}
.subtitle {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #222222;
}
@font-face {
  font-display: swap;
  font-family: "Mont";
  src: url("../fonts/Mont-Regular.woff") format("woff"), /* Modern Browsers */ url("../fonts/Mont-Regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "Mont";
  src: url("../fonts/Mont-SemiBold.woff") format("woff"), /* Modern Browsers */ url("../fonts/Mont-SemiBold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 600;
  font-style: normal;
}
.paragraph {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #353640;
}
.paragraph--margin-bottom {
  margin-bottom: 20px;
}
.radio__btn {
  position: relative;
  padding-left: 30px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #31333e;
}
.radio__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 2px solid #aeaeae;
  border-radius: 50%;
}
.radio__btn::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 9px;
  height: 9px;
  background: #44c040;
  border-radius: 50%;
  opacity: 0;
}
#for-add-stock-for-good,
#for-add-stock-for-category,
#for-push-add-for-user,
#for-push-add-for-manager {
  display: none;
}
#add-stock-for-good:checked ~ .split-container label[for="add-stock-for-good"],
#add-stock-for-category:checked ~ .split-container label[for="add-stock-for-category"],
#add-stock-for-good:checked ~ #for-add-stock-for-good,
#add-stock-for-category:checked ~ #for-add-stock-for-category,
#push-add-for-user:checked ~ #for-push-add-for-user,
#push-add-for-manager:checked ~ #for-push-add-for-manager {
  display: block;
}
.checkbox {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #31333e;
  text-align: left;
}
.checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #f1cc43;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  width: 20px;
  height: 20px;
  background: url("../img/checked.svg") no-repeat center;
  background-size: 13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}
.checkbox--checked::before {
  border-color: #78bf4d;
}
.checkbox--checked::after {
  opacity: 1;
}
.green-btn {
  padding: 15px 45px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: #78bf4d;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.green-btn:hover {
  background: #67a640;
}
.green-btn--small {
  padding: 10px 30px;
}
.green-btn--profile {
  margin-right: 10px;
  padding: 10px 25px;
  font-size: 14px;
}
.yellow-btn {
  padding: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #222222;
  background: #f1cc43;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.yellow-btn:hover {
  background: #dcb22a;
}
.yellow-btn--profile {
  margin-right: 10px;
  padding: 10px 25px;
  font-size: 14px;
}
.red-btn {
  padding: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #d34539;
  border: 1px solid #d34539;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.red-btn:hover {
  color: #ffffff;
  background: #d34539;
}
.red-btn--profile {
  margin-right: 10px;
  padding: 9px 25px;
  font-size: 14px;
}
.red-btn--store {
  padding: 14px 45px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.switcher {
  position: relative;
  width: 29px;
  height: 15px;
  border-radius: 20px;
  border: 1px solid #f34336;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.switcher::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 11px;
  height: 11px;
  background: #f34336;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.switcher--active {
  border-color: #44c040;
}
.switcher--active::before {
  background: #44c040;
  -webkit-transform: translateX(14px);
          transform: translateX(14px);
}
.switcher--icon {
  display: inline-block;
  pointer-events: none;
}
.white-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}
.white-square__wrapper {
  padding: 45px 50px 50px;
  max-width: 470px;
  -webkit-box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
          box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
}
.white-square__title {
  margin-bottom: 25px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
}
.white-square__input-container {
  margin-bottom: 20px;
  width: 100%;
}
.white-square__input-container--list {
  position: relative;
}
.white-square__input-container--list .main-content__dropdown-list {
  width: 100%;
  border: 1px solid #d1d1d1;
}
.white-square__input-container--no-margin {
  margin-bottom: 0;
}
.white-square__input-container--margin-right {
  margin-right: 4%;
}
.white-square__input-label {
  display: block;
  margin-bottom: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #353640;
}
.white-square__input-label--bold {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 18px;
  color: #222222;
}
.white-square__input {
  display: block;
  width: 100%;
}
.white-square__input--inline-block {
  display: inline-block;
  width: auto;
}
.white-square__input--inline-block + .white-square__input-currency {
  margin-left: 10px;
}
.white-square__links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
.white-square__gray-link {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #353640;
  opacity: 0.4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.white-square__gray-link--margin {
  margin-left: 329px;
}
.white-square__gray-link:hover {
  opacity: 1;
}
.metaproject__container {
  margin-top: 20px;
  width: 446px;
}
.metaproject__aside-container {
  padding: 0 20px;
  width: 300px;
  color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.metaproject__link {
  position: relative;
  margin-left: 10px;
  padding-left: 15px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #222222;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.metaproject__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 83%;
  height: 1px;
  background: #222222;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.metaproject__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 100%;
  background: url("../img/meta-logo.svg") no-repeat center;
  background-size: 12px;
}
.metaproject__link:hover::before {
  opacity: 0;
}
.metaproject__aside-link {
  margin-left: 0;
  color: transparent;
}
.metaproject__aside-link::before {
  background: transparent;
}
@media (min-width: 1500px) {
  .metaproject__aside-container {
    padding: 0 30px;
    color: #222222;
  }
  .metaproject__aside-link {
    color: #222222;
  }
  .metaproject__aside-link::before {
    background: #222222;
  }
}
.page-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  min-height: 100vh;
  background: #f4f5fb;
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
          box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
  z-index: 2;
}
.page-header__wrapper {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-header__logo {
  width: 220px;
}
.main-nav {
  position: fixed;
  top: 0;
  padding-top: 80px;
  width: 55px;
  min-height: calc(100vh - 80px);
  height: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
          box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
  overflow: hidden;
}
.main-nav__burger {
  position: fixed;
  top: 90px;
  left: 12px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  font-size: 0;
  z-index: 2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-nav__burger::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 2px;
  background: #242424;
  -webkit-box-shadow: 0 12px 0 #242424;
          box-shadow: 0 12px 0 #242424;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-nav__burger::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 5px;
  width: 15px;
  height: 2px;
  background: #242424;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-nav__burger--active {
  left: 300px;
  -webkit-box-shadow: 10px 0 20px rgba(100, 100, 100, 0.2);
          box-shadow: 10px 0 20px rgba(100, 100, 100, 0.2);
}
.main-nav__burger--active::before {
  width: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: rotate(45deg) translate(4px, -1px);
          transform: rotate(45deg) translate(4px, -1px);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.main-nav__burger--active::after {
  width: 20px;
  -webkit-transform: rotate(-45deg) translate(-3px, 2px);
          transform: rotate(-45deg) translate(-3px, 2px);
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
}
.main-nav__burger--active + .main-nav {
  width: 300px;
}
.main-nav__burger--active + .main-nav .main-nav__link {
  padding: 17px 30px 17px 72px;
  min-width: 300px;
  white-space: normal;
}
.main-nav__burger--active + .main-nav .main-nav__sublink {
  min-width: 300px;
  white-space: normal;
}
.main-nav__burger--active + .main-nav .main-nav__sublist-btn {
  display: block;
}
.main-nav__burger--active + .main-nav .main-nav__link::before {
  left: 30px;
}
.main-nav__burger--active + .main-nav .main-nav__sublink::before {
  left: 40px;
}
.main-nav__burger--active + .main-nav .main-nav__link::after {
  left: 30px;
  width: calc(100% - 60px);
}
.main-nav__burger--active + .main-nav .main-nav__link--indicator::after {
  left: 48px;
  width: 10px;
  opacity: 0;
}
.main-nav__burger--active + .main-nav .metaproject__aside-container {
  padding: 0 30px;
  color: #222222;
}
.main-nav__burger--active + .main-nav .metaproject__aside-link {
  color: #222222;
}
.main-nav__burger--active + .main-nav .metaproject__aside-link::before {
  background: #222222;
}
.main-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 30px;
  height: 100%;
}
.main-nav__links-list {
  width: 100%;
}
.main-nav__sublink {
  position: relative;
  display: block;
  padding: 17px 30px 17px 60px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}
.main-nav__sublink::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 27px;
  width: 3px;
  height: 3px;
  background: #222222;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-nav__sublink:hover {
  background: #ebebeb;
}
.main-nav__link {
  position: relative;
  display: block;
  padding: 17px 30px 17px 55px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}
.main-nav__link::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  width: 24px;
  height: 24px;
  background: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.7;
}
.main-nav__link--clients::before {
  background: url("../img/user.svg") no-repeat center;
  background-size: 23px;
}
.main-nav__link--couriers::before {
  background: url("../img/courier.svg") no-repeat center;
  background-size: 23px;
  -webkit-transform: rotate(180deg) rotateY(180deg);
          transform: rotate(180deg) rotateY(180deg);
}
.main-nav__link--stores::before {
  background: url("../img/document.svg") no-repeat center;
  background-size: 20px;
}
.main-nav__link--orders::before {
  background: url("../img/order.svg") no-repeat center;
  background-size: 23px;
}
.main-nav__link--requests::before {
  background: url("../img/request.svg") no-repeat center;
  background-size: 23px;
}
.main-nav__link--system::before {
  background: url("../img/settings.svg") no-repeat center;
  background-size: 23px;
}
.main-nav__link--support::before {
  background: url("../img/support.svg") no-repeat center;
  background-size: 23px;
}
.main-nav__link--service::before {
  background: url("../img/service.svg") no-repeat center;
  background-size: 23px;
}
.main-nav__link--loyalty::before {
  background: url("../img/discount.svg") no-repeat center;
  background-size: 21px;
}
.main-nav__link--push::before {
  background: url("../img/message.svg") no-repeat center;
  background-size: 21px;
}
.main-nav__link--reviews::before {
  background: url("../img/reviews.svg") no-repeat center;
  background-size: 21px;
}
.main-nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 24px;
  height: 1px;
  background: #eeeeee;
}
.main-nav__link:hover {
  background: #ebebeb;
}
.main-nav__link--current {
  cursor: default;
  background: #f1cc43;
}
.main-nav__link--current:after {
  display: none;
}
.main-nav__link--current:hover {
  background: #f1cc43;
}
.main-nav__link--inactive:hover {
  background: transparent;
}
.main-nav__link--indicator::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 33px;
  width: 10px;
  height: 10px;
  background: #f34336;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-nav__sublink-count {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 8px;
  max-width: 62px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 13px;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
  background: #f34336;
  border-radius: 20px;
  overflow: hidden;
}
.main-nav__sublist {
  display: none;
}
.main-nav__links-container {
  position: relative;
}
.main-nav__sublist-btn {
  position: absolute;
  top: 21px;
  right: 15px;
  display: none;
  width: 10px;
  height: 10px;
  background: url("../img/dropdown.svg") no-repeat center;
  background-size: 9px;
  opacity: 0.8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.main-nav__sublist-btn--opened {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (min-width: 1500px) {
  .main-nav {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 300px;
  }
  .main-nav__burger {
    display: none;
  }
  .main-nav__sublist-btn {
    display: block;
  }
  .main-nav__link {
    padding: 17px 30px 17px 72px;
    width: 300px;
    white-space: normal;
  }
  .main-nav__link::before {
    left: 30px;
  }
  .main-nav__link::after {
    left: 30px;
    width: calc(100% - 60px);
  }
  .main-nav__link--indicator::after {
    left: 48px;
    width: 10px;
    opacity: 0;
  }
  .main-nav__sublink {
    min-width: 300px;
    white-space: normal;
  }
  .main-nav__sublink::before {
    left: 40px;
  }
}
.pseudo-table__header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pseudo-table__header-cell {
  padding: 0 15px 15px;
  width: 18%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555975;
  text-align: left;
}
.pseudo-table__header-cell:nth-of-type(1) {
  width: 15%;
}
.pseudo-table__header-cell:nth-of-type(2) {
  width: 52%;
}
.pseudo-table__header-cell:nth-of-type(3) {
  width: 18%;
}
.pseudo-table__header-cell:nth-of-type(4) {
  width: 15%;
}
.pseudo-table__table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #e8e9ef;
  background: #ffffff;
}
.pseudo-table__table-row:last-child {
  -webkit-box-shadow: 0 5px 5px rgba(100, 100, 100, 0.05);
          box-shadow: 0 5px 5px rgba(100, 100, 100, 0.05);
}
.pseudo-table__table-row--subcategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 58px;
  width: 100%;
  background: #f2f2f2;
}
.pseudo-table__table-row--subcategory-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 58px;
  width: 100%;
  background: #e5e5e5;
}
.pseudo-table__table-row--border {
  min-height: 58px;
  outline: 2px solid #f1cc43;
}
.pseudo-table__table-cell {
  padding: 15px;
  width: 18%;
}
.pseudo-table__table-cell:nth-of-type(1) {
  width: 15%;
}
.pseudo-table__table-cell:nth-of-type(2) {
  width: 52%;
}
.pseudo-table__table-cell:nth-of-type(3) {
  width: 18%;
}
.pseudo-table__table-cell:nth-of-type(4) {
  width: 15%;
}
.pseudo-table__table-dropdown-btn {
  margin-left: 20px;
  width: 10px;
  height: 10px;
  background: url("../img/dropdown.svg") no-repeat center;
  background-size: 9px;
  vertical-align: middle;
}
.pseudo-table__table-dropdown-btn--opened {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.breadcrumbs {
  margin-bottom: 15px;
}
.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumbs__item {
  position: relative;
  margin-right: 8px;
  padding-right: 12px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.breadcrumbs__item::before {
  content: "/";
  position: absolute;
  top: 0;
  right: 0;
  color: #222222;
}
.breadcrumbs__item:hover {
  color: #579ad5;
}
.breadcrumbs__item--current {
  color: #afafaf;
}
.breadcrumbs__item--current::before {
  display: none;
}
.breadcrumbs__item--current:hover {
  pointer-events: none;
  color: #afafaf;
}
.logout-btn {
  position: relative;
  padding-right: 35px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #222222;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.logout-btn:hover {
  opacity: 1;
}
.logout-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  background: url("../img/logout.svg") no-repeat center;
  background-size: 19px;
  -webkit-transform: translateY(-57%);
          transform: translateY(-57%);
}
.main-content {
  margin-top: 80px;
  margin-left: 55px;
  width: calc(100% - 50px);
  min-height: 87vh;
}
.main-content__wrapper {
  padding: 40px 25px;
}
.main-content__top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.main-content__top-container--table {
  margin-bottom: 20px;
}
.main-content__title {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #222222;
}
.main-content__search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 365px;
}
.main-content__search-container--margin {
  margin-right: 50px;
  margin-left: auto;
}
.main-content__search-input {
  padding: 8px 0;
  width: 340px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  background: transparent;
  border: none;
  border-bottom: 1px solid #d3d4dd;
}
.main-content__search-input:focus {
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #f1cc43;
}
.main-content__search-btn {
  width: 25px;
  height: 25px;
  background: url("../img/search.svg") no-repeat center;
  background-size: 24px;
  opacity: 0.3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-content__search-btn:hover {
  opacity: 1;
}
/*==========================================================*/
.main-content__table {
  width: 100%;
}
.main-content__shops-table .main-content__table-row {
  border: 2px solid transparent;
  border-bottom: 1px solid #e8e9ef;
  cursor: pointer;
}
.main-content__shops-table .main-content__table-row:hover {
  border: 2px solid #f1cc43;
}
.main-content__shops-table .main-content__table-row:hover .main-content__table-link {
  color: #579ad5;
}
.main-content__header-row {
  vertical-align: top;
  width: 100%;
}
.main-content__header-cell {
  padding: 0 10px 15px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555975;
  text-align: left;
}
.main-content__header-cell--no-padding {
  padding: 0;
}
.main-content__header-cell--product-padding {
  padding-left: 20px;
}
.main-content__header-cell--promocode {
  min-width: 126px;
}
.main-content__header-cell--actions {
  min-width: 130px;
}
.main-content__header-cell--clients {
  width: 119px;
}
.main-content__header-cell--clients-actions {
  width: 15%;
}
.main-content__table-sort-btn {
  position: relative;
  padding-right: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555975;
  text-align: left;
}
.main-content__table-sort-btn:hover {
  opacity: 0.6;
}
.main-content__table-sort-btn--sort::before {
  content: "";
  position: absolute;
  top: 25%;
  right: 0;
  width: 7px;
  height: 7px;
  background: url("../img/dropdown.svg") no-repeat center;
  background-size: 6px;
  -webkit-transform: translateY(-25%) rotate(180deg);
          transform: translateY(-25%) rotate(180deg);
}
.main-content__table-sort-btn--sort::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 1px;
  width: 7px;
  height: 7px;
  background: url("../img/dropdown.svg") no-repeat center;
  background-size: 6px;
  -webkit-transform: translateY(75%);
          transform: translateY(75%);
}
.main-content__table-sort-btn--sort-down::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1px;
  width: 7px;
  height: 7px;
  background: url("../img/dropdown.svg") no-repeat center;
  background-size: 6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main-content__table-sort-btn--sort-up::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 7px;
  height: 7px;
  background: url("../img/dropdown.svg") no-repeat center;
  background-size: 6px;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.main-content__table-sort-btn--width {
  max-width: 140px;
}
/*==========================================================*/
.main-content__table-row {
  width: 100%;
  border-bottom: 1px solid #e8e9ef;
  background: #ffffff;
}
.main-content__table-row:last-child {
  -webkit-box-shadow: 0 5px 5px rgba(100, 100, 100, 0.05);
          box-shadow: 0 5px 5px rgba(100, 100, 100, 0.05);
}
.main-content__table-row--top {
  vertical-align: top;
}
.main-content__table-row--invisible {
  opacity: 0.7;
  background: #e8e9ef;
}
.main-content__table-row--invisible .main-content__table-eye-btn {
  background: url("../img/eye.svg") no-repeat center;
  background-size: 20px;
  opacity: 0.5;
}
.main-content__table-row--invisible .main-content__table-eye-btn:hover {
  opacity: 0.3;
}
.main-content__table-row--invisible .main-content__table-list-btn {
  background: url("../img/edit.svg") no-repeat center;
  background-size: 20px;
  opacity: 0.5;
}
.main-content__table-row--invisible .main-content__table-list-btn:hover {
  opacity: 0.3;
}
.main-content__table-row--invisible .main-content__table-delete-btn {
  background: url("../img/delete.svg") no-repeat center;
  background-size: 20px;
  opacity: 0.5;
}
.main-content__table-row--invisible .main-content__table-delete-btn:hover {
  opacity: 0.3;
}
.main-content__table-row--category .main-content__table-cell {
  min-height: 58px;
}
.main-content__table-row--subcategory {
  display: none;
  min-height: 58px;
  border-left: 2px solid #f1cc43;
  border-right: 2px solid #f1cc43;
  background: #f2f2f2;
}
.main-content__table-row--border {
  min-height: 58px;
  border: 2px solid #f1cc43;
}
.main-content__table-row--subcategory-bottom {
  min-height: 58px;
  border-bottom: 2px solid #f1cc43;
}
.main-content__table-row--invisible-subcategory .main-content__table-eye-btn {
  pointer-events: none;
}
.main-content__table-cell {
  padding: 18px 0;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
}
.main-content__table-cell--padding {
  padding: 10px;
}
.main-content__table-cell--product {
  padding-right: 20px;
}
.main-content__table-cell--red {
  color: #f34336;
}
.main-content__table-cell--category-wide {
  width: 56%;
}
.main-content__table-cell--mark {
  width: 100px;
}
.main-content__table-cell--preview {
  position: relative;
}
.main-content__table-cell--preview:hover .main-content__product-preview-container {
  display: block;
}
.main-content__table-cell--preview:hover .main-content__product-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-content__activated-from {
  position: relative;
  display: block;
  margin-bottom: 13px;
}
.main-content__activated-from::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 35px;
  width: 6px;
  height: 1px;
  background: #222222;
}
.main-content__table-count--underline {
  border-bottom: 1px dashed #a9a9a9;
}
.main-content__id {
  display: inline-block;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  color: #222222;
  border-bottom: 1px dashed #a9a9a9;
}
.main-content__id--link {
  color: #579ad5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-content__id--link:hover {
  color: #222222;
}
.main-content__table-img {
  width: 53px;
  height: 53px;
}
.main-content__table-product-img {
  padding-left: 20px;
  width: 63px;
}
.main-content__table-product-img--big {
  width: 222px;
}
.main-content__product-preview-container,
.main-content__product-list-container {
  position: absolute;
  top: 80%;
  display: none;
  background: #ffffff;
  border: 2px solid #f1cc43;
  -webkit-box-shadow: 0 0 50px rgba(100, 100, 100, 0.1);
          box-shadow: 0 0 50px rgba(100, 100, 100, 0.1);
}
.main-content__product-preview-container::before,
.main-content__product-list-container::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 35px;
  border: 8px solid transparent;
  border-top-color: #f1cc43;
  border-right-color: #f1cc43;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-content__product-preview-container::after,
.main-content__product-list-container::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 36px;
  border: 7px solid transparent;
  border-top-color: #ffffff;
  border-right-color: #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-content__product-preview-container img,
.main-content__product-list-container img {
  min-width: 140px;
  width: 100%;
  max-width: 100%;
}
.main-content__product-list-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
  width: auto;
  max-width: 300px;
}
.main-content__product-list-container a {
  width: 48%;
}
.main-content__table-product-name {
  font-weight: 600;
  color: #579ad5;
}
.main-content__table-change-name {
  border-bottom: 1px dashed #a9a9a9;
}
.main-content__table-link {
  color: #579ad5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-content__table-link:hover {
  color: #222222;
}
.main-content__table-link--shops {
  color: #222222;
}
.main-content__table-btn {
  margin-right: 15px;
  padding: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-content__table-btn:last-child {
  margin-right: 0;
}
.main-content__table-btn--yellow {
  margin-right: 8px;
  color: #222222;
  background: #f1cc43;
}
.main-content__table-btn--yellow:hover {
  background: #dcb22a;
}
.main-content__table-btn--gray {
  margin-right: 8px;
  color: #222222;
  background: #eeeeee;
}
.main-content__table-btn--gray:hover {
  background: #e1e1e1;
}
.main-content__table-btn--red {
  margin-top: 8px;
  color: #d34539;
  border: 1px solid #d34539;
}
.main-content__table-btn--red:hover {
  color: #ffffff;
  background: #d34539;
}
.main-content__table-btn--inline-block {
  display: inline-block;
  vertical-align: bottom;
}
.main-content__table-btn--switch {
  min-width: 87px;
}
.main-content__table-eye-btn {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url("../img/eye--hover.svg") no-repeat center;
  background-size: 20px;
  opacity: 1;
}
.main-content__table-eye-btn:hover {
  opacity: 0.5;
}
.main-content__table-list-btn {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url("../img/edit--hover.svg") no-repeat center;
  background-size: 20px;
  opacity: 1;
}
.main-content__table-list-btn:hover {
  opacity: 0.5;
}
.main-content__table-delete-btn {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url("../img/delete--hover.svg") no-repeat center;
  background-size: 20px;
  opacity: 1;
}
.main-content__table-delete-btn:hover {
  opacity: 0.5;
}
.main-content__table-msg-btn {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url("../img/submit--hover.svg") no-repeat center;
  background-size: 19px;
  opacity: 1;
}
.main-content__table-msg-btn:hover {
  opacity: 0.5;
}
.main-content__table-schedule-btn {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url("../img/schedule-add.svg") no-repeat center;
  background-size: 15px;
  opacity: 1;
}
.main-content__table-schedule-btn:hover {
  opacity: 0.5;
}
.main-content__table-schedule-btn--added {
  background: url("../img/schedule-added.svg") no-repeat center;
  background-size: 14px;
  opacity: 1;
}
.main-content__table-schedule-btn--added:hover {
  opacity: 1;
}
.main-content__table-user-btn {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url("../img/user.svg") no-repeat center;
  background-size: 19px;
  opacity: 1;
}
.main-content__table-user-btn:hover {
  opacity: 0.5;
}
.main-content__table-dropdown-btn {
  margin-left: 20px;
  width: 10px;
  height: 10px;
  background: url("../img/dropdown.svg") no-repeat center;
  background-size: 9px;
  vertical-align: middle;
}
.main-content__table-dropdown-btn--opened {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*==========================================================*/
.main-content__dropdowns-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
  max-width: 1213px;
}
.main-content__dropdown-container {
  margin-right: 5%;
  width: 48%;
  max-width: 450px;
}
.main-content__dropdown-container:last-of-type {
  margin-right: 0;
}
.main-content__dropdown-container--split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.main-content__dropdown-container--split > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}
.main-content__dropdown-container--split > div .main-content__dropdown-label {
  margin-right: 10px;
  margin-bottom: 0;
}
.main-content__dropdown-container--wide {
  margin: 0;
  width: 100%;
  max-width: none;
}
.main-content__dropdown-container--margin {
  margin-bottom: 20px;
}
.main-content__dropdown-container--no-title {
  margin-top: 29px;
}
.main-content__dropdown-container--fixed-width {
  width: 300px;
}
.main-content__dropdown-label {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #353640;
}
.main-content__dropdown-label--main {
  width: 100%;
}
.main-content__dropdown-label-gray {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #a2a4af;
}
.main-content__dropdown-inner-container {
  position: relative;
  padding: 10px 37px 10px 20px;
  background: #ffffff;
  border: 1px solid #dddddd;
  cursor: pointer;
}
.main-content__dropdown-inner-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 100%;
  background: #f1cc43 url("../img/dropdown.svg") no-repeat center;
  background-size: 7px;
}
.main-content__dropdown-inner-container--focus::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main-content__dropdown-inner-container--focus {
  padding: 9px 37px 9px 20px;
  border: 2px solid #f1cc43;
}
.main-content__dropdown-current {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}
.main-content__dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: calc(100% - 17px);
  max-height: 126px;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 5px rgba(100, 100, 100, 0.05);
          box-shadow: 0 5px 5px rgba(100, 100, 100, 0.05);
  overflow: auto;
  z-index: 1;
}
.main-content__dropdown-list--opened {
  display: block;
}
.main-content__dropdown-list--flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-content__dropdown-list--flex.main-content__dropdown-list--opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-content__dropdown-item {
  padding: 10px 20px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  cursor: pointer;
}
.main-content__dropdown-item:hover {
  background: #ebebeb;
}
/*==========================================================*/
.main-content__gray-section {
  margin-bottom: 40px;
  background: #f0f0f5;
}
.main-content__gray-top {
  position: relative;
  padding: 11px 60px;
  background: #e8e8eb;
}
.main-content__gray-top::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/calendar.svg") no-repeat center;
  background-size: 19px;
  opacity: 0.7;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
}
.main-content__gray-title {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}
.main-content__gray-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px 20px 40px;
  background: #f0f1f5;
}
.main-content__gray-bottom--start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.main-content__gray-input-container {
  margin-bottom: 30px;
  width: 24%;
  max-width: 350px;
}
.main-content__gray-file-container {
  margin-bottom: 30px;
  width: 100%;
}
/*==========================================================*/
.main-content__upload-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.main-content__upload-btn {
  display: inline-block;
  margin-right: 15px;
  padding: 12px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  background: #e0e0e0;
  border: 1px solid #cccccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.main-content__upload-btn:hover {
  background: #cccccc;
}
.main-content__upload-message {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #969699;
  white-space: nowrap;
}
/*==========================================================*/
.main-content__profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}
.main-content__profile-img-container {
  margin-right: auto;
  width: 80px;
  height: 100%;
}
.main-content__profile-img-container img {
  max-width: 100%;
  width: 100%;
}
.main-content__profile-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  width: calc(100% - 100px);
}
.main-content__profile-name {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
}
.main-content__profile-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: auto;
  margin-left: 100px;
  margin-bottom: 65px;
  width: calc(100% - 100px);
  max-width: 1235px;
}
.main-content__profile-data-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 34%;
}
.main-content__profile-data-list--col-1 {
  max-width: 380px;
}
.main-content__profile-data-list--col-2 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.main-content__profile-data-list--col-3 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 38%;
}
.main-content__profile-data-list--wide {
  width: 100%;
}
.main-content__profile-data-list--wide .main-content__profile-data-item--value {
  width: 75%;
}
.main-content__profile-data-list--col-3 .main-content__profile-data-item--value {
  width: 60%;
}
.main-content__profile-data-list:last-of-type {
  margin-right: 0;
}
.main-content__profile-data-item {
  margin-bottom: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}
.main-content__profile-data-item--title {
  width: 40%;
  max-width: 185px;
}
.main-content__profile-data-item--value {
  min-width: 143px;
  width: 51%;
}
.main-content__profile-data-item--documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 51%;
}
.main-content__profile-star {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url("../img/star.svg") no-repeat center;
  background-size: 12px;
}
.main-content__profile-star--empty {
  background: url("../img/star-empty.svg") no-repeat center;
  background-size: 12px;
}
.main-content__profile-star:last-of-type {
  margin-right: 0;
}
.main-content__profile-data-link {
  color: #579ad5;
  border-bottom: 1px solid #b3c8f2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.main-content__profile-data-link:hover {
  border-color: transparent;
}
.main-content__profile-document-container {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 62px;
  height: 84px;
  cursor: pointer;
}
.main-content__profile-document-container:last-of-type {
  margin-right: 0;
}
.main-content__profile-document-container img {
  width: 100%;
  max-width: 100%;
}
.main-content__profile-big-document-container {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 265px;
  height: 250px;
  cursor: pointer;
}
.main-content__profile-big-document-container:last-of-type {
  margin-right: 0;
}
.main-content__profile-big-document-container img {
  height: 100%;
  max-height: 100%;
}
.main-content__profile-data-sublist {
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-content__profile-data-sublist--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-content__profile-data-subitem {
  display: inline-block;
  margin: 0 2%;
  margin-bottom: 10px;
  width: 28%;
  color: #579ad5;
  line-height: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.main-content__profile-data-subitem:hover {
  border-color: transparent;
}
.main-content__profile-data-subitem--wide {
  min-width: 141px;
  width: 40%;
}
.main-content__profile-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-bottom: 45px;
  width: 100%;
}
.main-content__profile-stats-title {
  margin-bottom: 30px;
  width: 100%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #222222;
}
.main-content__profile-stats-item {
  margin-right: 21px;
  padding: 25px 20px;
  width: 22%;
  max-width: 245px;
  background: #e8e8ea;
  cursor: pointer;
}
.main-content__profile-stats-item:last-of-type {
  margin-right: 0;
}
.main-content__profile-stats-item--active {
  background: #fecd2f;
  cursor: default;
}
.main-content__profile-stats-list {
  margin: 15px 0 0;
  width: 100%;
}
.main-content__profile-stats-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main-content__profile-stats-list-item--like,
.main-content__profile-stats-list-item--dislike {
  position: relative;
  padding-left: 20px;
}
.main-content__profile-stats-list-item--like::before,
.main-content__profile-stats-list-item--dislike::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 15px;
  background: url("../img/dislike.svg") no-repeat center;
  background-size: 14px;
}
.main-content__profile-stats-list-item--like::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main-content__profile-stats-paragraph {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}
.main-content__profile-stats-bold {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #222222;
}
.main-content__profile-stats-small {
  font-size: 16px;
}
.main-content__profile-reviews {
  width: 100%;
}
.main-content__profile-reviews--margin-top {
  margin-top: 60px;
}
.main-content__profile-reviews-btns {
  margin-bottom: 20px;
}
.main-content__profile-reviews-btn {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  padding-bottom: 3px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #222222;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.main-content__profile-reviews-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #f1cc43;
  opacity: 0;
}
.main-content__profile-reviews-btn:hover {
  opacity: 1;
}
.main-content__profile-reviews-table {
  display: none;
}
.main-content__profile-reviews-table th,
.main-content__profile-reviews-table td {
  width: 20%;
}
.main-content__profile-review-author {
  display: inline-block;
  color: #579ad5;
  border-bottom: 1px solid #b3c8f2;
}
#profile-review-all:checked ~ .main-content__profile-reviews-btns label[for="profile-review-all"],
#profile-review-negative:checked ~ .main-content__profile-reviews-btns label[for="profile-review-negative"] {
  opacity: 1;
}
#profile-review-all:checked ~ .main-content__profile-reviews-btns label[for="profile-review-all"]::before,
#profile-review-negative:checked ~ .main-content__profile-reviews-btns label[for="profile-review-negative"]::before {
  opacity: 1;
}
#profile-review-all:checked ~ #profile-reviews-table-all {
  display: block;
}
#profile-review-negative:checked ~ #profile-reviews-table-negative {
  display: block;
}
/*==========================================================*/
.main-content__store-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main-content__store-photo {
  position: relative;
  margin-right: 40px;
  width: 175px;
}
.main-content__store-photo--margin-bottom {
  margin-bottom: 40px;
}
.main-content__store-photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
  width: 100%;
  height: 197px;
  background: #ffffff;
  border: 1px solid #dddddd;
  overflow: hidden;
}
.main-content__store-photo-container--courier {
  width: 175px;
  height: 200px;
}
.main-content__edit-profile-documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}
.main-content__edit-profile-documents .main-content__profile-document-container {
  position: relative;
}
.main-content__store-photo-title {
  margin-bottom: 5px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #353640;
}
.main-content__store-photo-description {
  padding: 0 20px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
  opacity: 0.5;
  text-align: center;
}
.main-content__store-photo-delete {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: url("../img/plus.svg") no-repeat center;
  background-size: 19px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main-content__store-photo-delete:hover {
  opacity: 0.7;
}
.main-content__store-data {
  width: calc(100% - 310px);
}
.main-content__profile-data-delete {
  margin-left: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #cccccc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-content__profile-data-delete:hover {
  color: #f34336;
}
.main-content__store-split-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-content__store-split-container .white-square__input-container {
  width: 48%;
}
.main-content__store-split-container--input-wider .white-square__input-container {
  width: 65%;
}
.main-content__store-split-container--input-wider .main-content__dropdown-container--split {
  width: 300px;
}
.main-content__store-btns-container a {
  display: inline-block;
  margin-right: 30px;
}
.main-content__data-range-container {
  width: 30%;
}
/*==========================================================*/
.main-content__order-status {
  position: relative;
  display: inline-block;
  margin-right: auto;
  margin-left: 15px;
  padding: 5px 25px;
  min-height: 27px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  white-space: nowrap;
}
.main-content__order-status--green {
  color: #ffffff;
  background: #78bf4d;
}
.main-content__order-status--red {
  color: #ffffff;
  background: #b94343;
}
.main-content__order-status--white {
  color: #222222;
  background: #f1cc43;
}
.main-content__order-split {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.main-content__order-split--flex-start {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.main-content__order-split .main-content__gray-section {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px;
  margin-bottom: 40px;
}
.main-content__order-split .main-content__gray-section:nth-of-type(2) {
  max-width: 364px;
}
.main-content__order-split .main-content__gray-section:nth-of-type(3) {
  max-width: 370px;
}
.main-content__order-split .main-content__gray-section:last-of-type {
  margin-right: 0;
}
.main-content__order-split .main-content__profile-data-list {
  width: auto;
}
/*==========================================================*/
.main-content__order-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 18px;
  margin-bottom: 18px;
  padding: 10px 15px 30px;
  max-width: 485px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
          box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
}
.main-content__order-card-number {
  width: 100%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}
.main-content__order-card-img-container {
  margin-right: 15px;
  width: 170px;
  height: 105px;
  overflow: hidden;
}
.main-content__order-card-img-container img {
  max-width: 100%;
}
.main-content__order-card-info {
  width: 59%;
}
.main-content__order-card-list {
  margin-top: 10px;
}
.main-content__order-card-item {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #222222;
}
/*==========================================================*/
.main-content__chat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main-content__chat-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 15px;
  width: 100%;
}
.main-content__chat-link-img-container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
  width: 55px;
  height: 55px;
  overflow: hidden;
  border: 1px solid #e1e1e1;
}
.main-content__chat-link-img-container img {
  max-width: 100%;
}
.main-content__chat-left-col {
  width: calc(100% - 485px);
}
.main-content__chat-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
  padding: 25px;
  width: 100%;
  -webkit-box-shadow: 10px 10px 20px rgba(100, 100, 100, 0.05);
          box-shadow: 10px 10px 20px rgba(100, 100, 100, 0.05);
}
.main-content__chat-message:last-of-type {
  margin-bottom: 0;
}
.main-content__chat-message--user {
  background: #ffffff;
}
.main-content__chat-message--service {
  background: #e8e8e8;
}
.main-content__chat-photo-container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 30px;
  width: 49px;
  height: 49px;
  -webkit-box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.2);
          box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.2);
}
.main-content__chat-photo-container img {
  width: 100%;
  max-width: 100%;
}
.main-content__chat-name {
  display: block;
  margin-bottom: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #31333e;
}
.main-content__chat-time {
  display: block;
  margin-bottom: 20px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}
.main-content__chat-paragraph {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #222222;
}
.main-content__chat-file-container {
  margin-top: 15px;
  margin-bottom: 40px;
}
.main-content__chat-right-col {
  margin-left: 100px;
  width: 385px;
}
.main-content__chat-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 35px 35px;
  background: #ffffff;
  -webkit-box-shadow: 10px 10px 20px rgba(100, 100, 100, 0.05);
          box-shadow: 10px 10px 20px rgba(100, 100, 100, 0.05);
}
.main-content__chat-info-list li:nth-last-of-type(-n+2) {
  margin-bottom: 0;
}
.main-content__chat-info-title {
  margin-bottom: 20px;
  width: 49%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}
.main-content__chat-info-value {
  margin-bottom: 20px;
  width: 49%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #31333e;
}
.main-content__request-photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
}
/*==========================================================*/
.main-content__hidden-input-container {
  display: none;
  margin-top: 20px;
  width: 100%;
}
.main-content__cloned {
  display: block;
}
.main-content__hidden-input {
  width: 100%;
}
.main-content__hidden-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  width: 100%;
}
.main-content__hidden-btns .green-btn {
  margin-right: 10px;
}
.main-content__add-field {
  position: relative;
  margin-top: 20px;
  padding-left: 30px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #31333e;
  text-decoration: underline;
}
.main-content__add-field::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../img/plus.svg") no-repeat center;
  background-size: 19px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main-content__add-field:hover {
  text-decoration: none;
}
.main-content__add-field:hover::before {
  opacity: 0.7;
}
@media (min-width: 1500px) {
  .main-content {
    margin-left: 300px;
    width: calc(100% - 300px);
  }
  .main-content__header-cell--wide {
    padding: 0 15px;
  }
  .main-content__header-cell--width {
    max-width: 140px;
  }
  .main-content__header-cell--nowrap {
    white-space: nowrap;
  }
  .main-content__table-cell--wide {
    padding: 15px;
  }
}
@media (min-width: 1609px) {
  .main-content__header-cell--width {
    max-width: 120px;
  }
  .main-content__table-sort-btn--width {
    max-width: 120px;
  }
  .main-content__table-btn--red {
    margin-top: 0;
  }
}
@media (min-width: 1899px) {
  .main-content__order-card:nth-child(3n) {
    margin-right: 0;
  }
}
.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  z-index: 10;
}
.popup__add-users-loyalty,
.popup__add-loyalty-category,
.popup__edit-loyalty-category,
.popup__delete,
.popup__add-stock,
.popup__add-msg {
  position: relative;
  display: none;
  margin: 28vh auto;
  padding: 45px 50px 50px;
  width: 550px;
  background-color: #ffffff;
}
.popup__action,
.popup__action-edit,
.popup__create-category,
.popup__edit-category {
  position: relative;
  display: none;
  margin: 28vh auto;
  padding: 45px 50px 50px;
  width: 755px;
  background-color: #ffffff;
}
.popup__promocode,
.popup__support {
  position: relative;
  display: none;
  margin: 28vh auto;
  padding: 45px 50px 50px;
  width: 855px;
  background-color: #ffffff;
}
.popup__product-edit {
  position: relative;
  display: none;
  margin: 20vh auto;
  padding: 45px 50px 50px;
  width: 920px;
  background-color: #ffffff;
}
.popup__title {
  margin-bottom: 25px;
  width: 100%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #222222;
}
.popup__promo-dropdowns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}
.popup__input-container {
  margin-bottom: 0;
  width: 185px;
}
.popup__dropdown-container {
  margin-right: 0;
  width: 161px;
}
.popup__input,
.popup__dropdown-current,
.popup__dropdown-item {
  font-size: 16px;
}
.popup__datetime-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}
.popup__data-range-container {
  margin-right: 30px;
  margin-bottom: 0;
  width: 265px;
}
.popup__required {
  color: #d34539;
}
.popup__split-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.popup__split-container > div:not(.white-square__input-container--no-margin) {
  margin-right: 30px;
  width: 265px;
}
.popup__split-container .popup__file-container {
  width: 325px;
}
.popup__split-container--flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.popup__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 21px;
  height: 21px;
  background: transparent;
  border: none;
  font-size: 0;
  outline: none;
  cursor: pointer;
}
.popup__close::before,
.popup__close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 3px;
  background: #c2c2c2;
  -webkit-transform: translate(-45%, -75%);
          transform: translate(-45%, -75%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.popup__close::before {
  -webkit-transform: translate(-45%, -75%) rotate(45deg);
          transform: translate(-45%, -75%) rotate(45deg);
}
.popup__close::after {
  -webkit-transform: translate(-45%, -75%) rotate(-45deg);
          transform: translate(-45%, -75%) rotate(-45deg);
}
.popup__close:hover::before,
.popup__close:hover::after {
  background: #222222;
}
.popup__radio-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
.popup__radio-btn {
  margin-right: 10px;
  font-size: 16px;
  color: #222222;
  background: #eeeeee;
  cursor: pointer;
}
.popup__radio-btn:hover {
  background: #e1e1e1;
}
.popup__radio-btn:last-of-type {
  margin-right: 0;
}
#create-category,
#create-subcategory {
  display: none;
}
#create-category-btn:checked ~ .popup__radio-btns label[for="create-category-btn"],
#create-subcategory-btn:checked ~ .popup__radio-btns label[for="create-subcategory-btn"] {
  background: #f1cc43;
  cursor: default;
}
#create-category-btn:checked ~ #create-category,
#create-subcategory-btn:checked ~ #create-subcategory {
  display: block;
}
/*==============================================================================*/
.popup-documents {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: rgba(27, 28, 32, 0.8);
  overflow-y: scroll;
  z-index: 110;
}
.popup-documents__img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding: 40px 10px 50px;
  height: 100%;
  text-align: center;
}
.popup--showed {
  display: block;
}
.split-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.split-container--max-width {
  max-width: 1000px;
}
.split-container--space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.split-container--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.split-container--align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.split-container__inner--fixed-wide {
  width: 56%;
}
.split-container__inner--fixed-half {
  width: 40%;
}
.split-container__inner--fixed-short {
  width: 30%;
  max-width: 300px;
}
.half {
  width: 48%;
}
.fourth {
  width: 20%;
}
.no-margin {
  margin: 0;
}
.tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  width: 100%;
  background: #ffffff;
}
.tabs-container__btn {
  display: inline-block;
  padding: 10px 0;
  width: 212px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
  text-align: center;
  cursor: pointer;
}
#reviews-for-goods:checked ~ .tabs-container label[for="reviews-for-goods"],
#reviews-for-couriers:checked ~ .tabs-container label[for="reviews-for-couriers"] {
  background: #f1cc43;
}
#for-reviews-for-goods,
#for-reviews-for-couriers {
  display: none;
}
#reviews-for-goods:checked ~ #for-reviews-for-goods,
#reviews-for-couriers:checked ~ #for-reviews-for-couriers {
  display: block;
  width: 100%;
}
