@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Regular.woff") format("woff"), /* Modern Browsers */ url("../fonts/Mont-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  
  /* Modern Browsers */
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-SemiBold.woff") format("woff"), /* Modern Browsers */ url("../fonts/Mont-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  
  /* Modern Browsers */
}
