.main-content {
  margin-top: 80px;
  margin-left: 55px;
  width: calc(100% - 50px);
  min-height: 88vh;
}
.main-content__wrapper {
  padding: 40px 25px;
}
.main-content__top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.main-content__title {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #222222;
}
.main-content__search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 365px;
}
.main-content__search-container--margin {
  margin-right: 50px;
  margin-left: auto;
}
.main-content__search-input {
  padding: 8px 0;
  width: 340px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  background: transparent;
  border: none;
  border-bottom: 1px solid #d3d4dd;
}
.main-content__search-input:focus {
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #f1cc43;
}
.main-content__search-btn {
  width: 25px;
  height: 25px;
  background: url("../img/search.svg") no-repeat center;
  background-size: 24px;
  opacity: 0.3;
  transition: 0.3s;
}
.main-content__search-btn:hover {
  opacity: 1;
}
/*==========================================================*/
.main-content__table {
  width: 100%;
}
.main-content__shops-table .main-content__table-row {
  border: 2px solid transparent;
  border-bottom: 1px solid #e8e9ef;
}
.main-content__shops-table .main-content__table-row:hover {
  border: 2px solid #f1cc43;
}
.main-content__shops-table .main-content__table-row:hover .main-content__table-link {
  color: #579ad5;
}
.main-content__header-row {
  vertical-align: top;
  width: 100%;
}
.main-content__header-cell {
  padding: 0 15px 15px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555975;
  text-align: left;
}
.main-content__header-cell--no-padding {
  padding: 0;
}
.main-content__header-cell--product-padding {
  padding-left: 20px;
}
.main-content__table-sort-btn {
  position: relative;
  padding-right: 15px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555975;
  text-align: left;
}
.main-content__table-sort-btn::before {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  width: 7px;
  height: 7px;
  background: url("../img/dropdown.svg") no-repeat center;
  background-size: 6px;
}
.main-content__table-sort-btn--width {
  max-width: 140px;
}
/*==========================================================*/
.main-content__table-row {
  width: 100%;
  border-bottom: 1px solid #e8e9ef;
  background: #ffffff;
}
.main-content__table-row:last-child {
  box-shadow: 0 5px 5px rgba(100, 100, 100, 0.05);
}
.main-content__table-row--top {
  vertical-align: top;
}
.main-content__table-row--invisible {
  opacity: 0.7;
  background: #e8e9ef;
}
.main-content__table-row--invisible .main-content__table-eye-btn {
  background: url("../img/eye.svg") no-repeat center;
  background-size: 20px;
  opacity: 0.5;
}
.main-content__table-row--invisible .main-content__table-eye-btn:hover {
  opacity: 0.3;
}
.main-content__table-row--invisible .main-content__table-list-btn {
  background: url("../img/edit.svg") no-repeat center;
  background-size: 20px;
  opacity: 0.5;
}
.main-content__table-row--invisible .main-content__table-list-btn:hover {
  opacity: 0.3;
}
.main-content__table-row--invisible .main-content__table-delete-btn {
  background: url("../img/delete.svg") no-repeat center;
  background-size: 20px;
  opacity: 0.5;
}
.main-content__table-row--invisible .main-content__table-delete-btn:hover {
  opacity: 0.3;
}
.main-content__table-row--subcategory {
  display: none;
  background: #f2f2f2;
}
.main-content__table-row--invisible-subcategory .main-content__table-eye-btn {
  pointer-events: none;
}
.main-content__table-cell {
  padding: 18px 0;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
}
.main-content__table-cell--padding {
  padding: 15px;
}
.main-content__table-cell--product {
  padding-right: 20px;
}
.main-content__table-cell--red {
  color: #f34336;
}
.main-content__table-cell--category-wide {
  width: 58%;
}
.main-content__activated-from {
  position: relative;
  display: block;
  margin-bottom: 13px;
}
.main-content__activated-from::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 35px;
  width: 6px;
  height: 1px;
  background: #222222;
}
.main-content__table-count--underline {
  border-bottom: 1px dashed #a9a9a9;
}
.main-content__id {
  display: inline-block;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  color: #222222;
  border-bottom: 1px dashed #a9a9a9;
}
.main-content__id--link {
  color: #579ad5;
  transition: 0.3s;
}
.main-content__id--link:hover {
  color: #222222;
}
.main-content__table-img {
  width: 53px;
  height: 53px;
}
.main-content__table-product-img {
  padding-left: 20px;
  width: 222px;
  height: 155px;
}
.main-content__table-product-name {
  font-weight: 600;
  color: #579ad5;
}
.main-content__table-change-name {
  border-bottom: 1px dashed #a9a9a9;
}
.main-content__table-link {
  color: #579ad5;
  transition: 0.3s;
}
.main-content__table-link:hover {
  color: #222222;
}
.main-content__table-link--shops {
  color: #222222;
}
.main-content__table-btn {
  padding: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
  transition: 0.3s;
}
.main-content__table-btn--yellow {
  margin-right: 8px;
  color: #222222;
  background: #f1cc43;
}
.main-content__table-btn--yellow:hover {
  background: #dcb22a;
}
.main-content__table-btn--gray {
  margin-right: 8px;
  color: #222222;
  background: #eeeeee;
}
.main-content__table-btn--gray:hover {
  background: #e1e1e1;
}
.main-content__table-btn--red {
  margin-top: 8px;
  color: #d34539;
  border: 1px solid #d34539;
}
.main-content__table-btn--red:hover {
  color: #ffffff;
  background: #d34539;
}
.main-content__table-eye-btn {
  width: 21px;
  height: 21px;
  background: url("../img/eye--hover.svg") no-repeat center;
  background-size: 20px;
  opacity: 1;
}
.main-content__table-eye-btn:hover {
  opacity: 0.5;
}
.main-content__table-list-btn {
  margin-right: 15px;
  width: 21px;
  height: 21px;
  background: url("../img/edit--hover.svg") no-repeat center;
  background-size: 20px;
  opacity: 1;
}
.main-content__table-list-btn:hover {
  opacity: 0.5;
}
.main-content__table-delete-btn {
  margin-right: 15px;
  width: 21px;
  height: 21px;
  background: url("../img/delete--hover.svg") no-repeat center;
  background-size: 20px;
  opacity: 1;
}
.main-content__table-delete-btn:hover {
  opacity: 0.5;
}
.main-content__table-dropdown-btn {
  margin-left: 20px;
  width: 10px;
  height: 10px;
  background: url("../img/dropdown.svg") no-repeat center;
  background-size: 9px;
  vertical-align: middle;
}
.main-content__table-dropdown-btn--opened {
  transform: rotate(180deg);
}
/*==========================================================*/
.main-content__dropdowns-block {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  max-width: 1213px;
}
.main-content__dropdown-container {
  margin-right: 5%;
  width: 48%;
  max-width: 450px;
}
.main-content__dropdown-container:last-of-type {
  margin-right: 0;
}
.main-content__dropdown-container--split {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.main-content__dropdown-container--split > div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.main-content__dropdown-container--split > div .main-content__dropdown-label {
  margin-right: 10px;
  margin-bottom: 0;
}
.main-content__dropdown-container--wide {
  margin: 0;
  width: 100%;
  max-width: none;
}
.main-content__dropdown-container--margin {
  margin-bottom: 20px;
}
.main-content__dropdown-container--no-title {
  margin-top: 29px;
}
.main-content__dropdown-label {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #353640;
}
.main-content__dropdown-label--main {
  width: 100%;
}
.main-content__dropdown-label-gray {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #a2a4af;
}
.main-content__dropdown-inner-container {
  position: relative;
  padding: 16px 37px 16px 20px;
  background: #ffffff;
  border: 1px solid #dddddd;
  cursor: pointer;
}
.main-content__dropdown-inner-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 100%;
  background: #f1cc43 url("../img/dropdown.svg") no-repeat center;
  background-size: 7px;
}
.main-content__dropdown-inner-container--focus::before {
  transform: rotate(180deg);
}
.main-content__dropdown-inner-container--focus {
  padding: 15px 37px 15px 20px;
  border: 2px solid #f1cc43;
}
.main-content__dropdown-current {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}
.main-content__dropdown-list {
  position: absolute;
  top: 100%;
  left: -1px;
  display: none;
  width: 101%;
  max-height: 126px;
  background: #ffffff;
  box-shadow: 0 5px 5px rgba(100, 100, 100, 0.05);
  overflow: auto;
  z-index: 1;
}
.main-content__dropdown-list--opened {
  display: block;
}
.main-content__dropdown-item {
  padding: 10px 20px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  cursor: pointer;
}
.main-content__dropdown-item:hover {
  background: #ebebeb;
}
/*==========================================================*/
.main-content__gray-section {
  margin-bottom: 40px;
  background: #f0f0f5;
}
.main-content__gray-top {
  position: relative;
  padding: 11px 60px;
  background: #e8e8eb;
}
.main-content__gray-top::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/calendar.svg") no-repeat center;
  background-size: 19px;
  opacity: 0.7;
  transform: translateY(-55%);
}
.main-content__gray-title {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}
.main-content__gray-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 20px 40px;
}
.main-content__gray-bottom--start {
  justify-content: flex-start;
}
.main-content__gray-input-container {
  margin-bottom: 30px;
  width: 24%;
  max-width: 350px;
}
.main-content__gray-file-container {
  margin-bottom: 30px;
  width: 100%;
}
/*==========================================================*/
.main-content__upload-btn {
  display: inline-block;
  margin-right: 20px;
  padding: 12px 20px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  background: #e0e0e0;
  border: 1px solid #cccccc;
  transition: 0.3s;
  cursor: pointer;
}
.main-content__upload-btn:hover {
  background: #cccccc;
}
.main-content__upload-message {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #969699;
}
/*==========================================================*/
.main-content__profile-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 40px;
}
.main-content__profile-img-container {
  margin-right: auto;
  width: 80px;
  height: 100%;
}
.main-content__profile-img-container img {
  max-width: 100%;
  width: 100%;
}
.main-content__profile-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: calc(100% - 100px);
}
.main-content__profile-name {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
}
.main-content__profile-data {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: 100px;
  margin-bottom: 65px;
  width: calc(100% - 100px);
  max-width: 1235px;
}
.main-content__profile-data-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 34%;
}
.main-content__profile-data-list--col-1 {
  max-width: 337px;
}
.main-content__profile-data-list--col-2 {
  justify-content: flex-start;
}
.main-content__profile-data-list--col-3 {
  justify-content: flex-start;
  width: 38%;
}
.main-content__profile-data-list--col-3 .main-content__profile-data-item--value {
  width: 60%;
}
.main-content__profile-data-list:last-of-type {
  margin-right: 0;
}
.main-content__profile-data-item {
  margin-bottom: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}
.main-content__profile-data-item--title {
  width: 49%;
  max-width: 185px;
}
.main-content__profile-data-item--value {
  min-width: 143px;
  width: 35%;
}
.main-content__profile-data-item--documents {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 51%;
}
.main-content__profile-star {
  display: inline-block;
  margin-right: 6px;
  width: 13px;
  height: 13px;
  background: #dcb22a;
}
.main-content__profile-star--empty {
  background: silver;
}
.main-content__profile-star:last-of-type {
  margin-right: 0;
}
.main-content__profile-data-link {
  color: #579ad5;
  border-bottom: 1px solid #b3c8f2;
  transition: 0.3s;
  cursor: pointer;
}
.main-content__profile-data-link:hover {
  border-color: transparent;
}
.main-content__profile-document-container {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 62px;
  height: 84px;
}
.main-content__profile-document-container:last-of-type {
  margin-right: 0;
}
.main-content__profile-document-container img {
  width: 100%;
  max-width: 100%;
}
.main-content__profile-big-document-container {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 265px;
  height: 250px;
}
.main-content__profile-big-document-container:last-of-type {
  margin-right: 0;
}
.main-content__profile-big-document-container img {
  height: 100%;
  max-height: 100%;
}
.main-content__profile-data-sublist {
  margin-top: 3px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.main-content__profile-data-subitem {
  display: inline-block;
  margin: 0 2%;
  margin-bottom: 10px;
  width: 28%;
  color: #579ad5;
  line-height: 14px;
  transition: 0.3s;
  cursor: pointer;
}
.main-content__profile-data-subitem:hover {
  border-color: transparent;
}
.main-content__profile-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 45px;
  width: 100%;
}
.main-content__profile-stats-title {
  margin-bottom: 30px;
  width: 100%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #222222;
}
.main-content__profile-stats-item {
  margin-right: 21px;
  padding: 25px 20px;
  width: 18%;
  max-width: 245px;
  height: 120px;
  background: #e8e8ea;
}
.main-content__profile-stats-item:last-of-type {
  margin-right: 0;
}
.main-content__profile-stats-paragraph {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}
.main-content__profile-stats-bold {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #222222;
}
.main-content__profile-stats-small {
  font-size: 16px;
}
.main-content__profile-reviews {
  width: 100%;
}
.main-content__profile-reviews-btns {
  margin-bottom: 20px;
}
.main-content__profile-reviews-btn {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  padding-bottom: 3px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #222222;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}
.main-content__profile-reviews-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #f1cc43;
  opacity: 0;
}
.main-content__profile-reviews-btn:hover {
  opacity: 1;
}
.main-content__profile-reviews-table {
  display: none;
}
.main-content__profile-reviews-table th,
.main-content__profile-reviews-table td {
  width: 20%;
}
.main-content__profile-review-author {
  display: inline-block;
  color: #579ad5;
  border-bottom: 1px solid #b3c8f2;
}
#profile-review-all:checked ~ .main-content__profile-reviews-btns label[for="profile-review-all"],
#profile-review-negative:checked ~ .main-content__profile-reviews-btns label[for="profile-review-negative"] {
  opacity: 1;
}
#profile-review-all:checked ~ .main-content__profile-reviews-btns label[for="profile-review-all"]::before,
#profile-review-negative:checked ~ .main-content__profile-reviews-btns label[for="profile-review-negative"]::before {
  opacity: 1;
}
#profile-review-all:checked ~ #profile-reviews-table-all {
  display: block;
}
#profile-review-negative:checked ~ #profile-reviews-table-negative {
  display: block;
}
/*==========================================================*/
.main-content__store-info {
  display: flex;
  align-items: flex-start;
}
.main-content__store-photo {
  margin-right: 40px;
}
.main-content__store-photo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 263px;
  height: 197px;
  background: #ffffff;
  border: 1px solid #dddddd;
}
.main-content__store-photo-title {
  margin-bottom: 5px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #353640;
}
.main-content__store-photo-description {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
  opacity: 0.5;
}
.main-content__store-photo-delete {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: url("../img/plus.svg") no-repeat center;
  background-size: 19px;
  transform: rotate(45deg);
}
.main-content__store-photo-delete:hover {
  opacity: 0.7;
}
.main-content__store-data {
  width: calc(100% - 303px);
}
.main-content__store-split-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.main-content__store-split-container .white-square__input-container {
  width: 48%;
}
.main-content__store-btns-container a {
  display: inline-block;
  margin-right: 30px;
}
.main-content__data-range-container {
  width: 30%;
}
/*==========================================================*/
.main-content__order-status {
  position: relative;
  display: inline-block;
  margin-right: auto;
  margin-left: 15px;
  width: 73px;
  min-height: 27px;
}
.main-content__order-status::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 25px;
  width: 100%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
}
.main-content__order-status--in-progress::before {
  content: "В процессе";
  color: #ffffff;
  background: #78bf4d;
}
.main-content__order-status--denied::before {
  content: "Отменен";
  color: #ffffff;
  background: #b94343;
}
.main-content__order-status--pending::before {
  content: "Ожидание";
  color: #222222;
  background: #f1cc43;
}
.main-content__order-split .main-content__gray-section {
  margin-right: 20px;
  margin-bottom: 0;
  width: 48%;
}
.main-content__order-split .main-content__gray-section:last-of-type {
  margin-right: 0;
}
.main-content__order-split .main-content__profile-data-list {
  width: auto;
}
/*==========================================================*/
.main-content__order-card {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 18px;
  margin-bottom: 18px;
  padding: 10px 15px 30px;
  max-width: 485px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
}
.main-content__order-card-number {
  width: 100%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}
.main-content__order-card-img-container {
  margin-right: 15px;
  width: 170px;
  height: 105px;
  overflow: hidden;
}
.main-content__order-card-img-container img {
  max-width: 100%;
}
.main-content__order-card-info {
  width: 59%;
}
.main-content__order-card-list {
  margin-top: 10px;
}
.main-content__order-card-item {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #222222;
}
/*==========================================================*/
.main-content__chat-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main-content__chat-left-col {
  width: calc(100% - 485px);
}
.main-content__chat-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  padding: 25px;
  width: 100%;
  box-shadow: 10px 10px 20px rgba(100, 100, 100, 0.05);
}
.main-content__chat-message:last-of-type {
  margin-bottom: 0;
}
.main-content__chat-message--user {
  background: #ffffff;
}
.main-content__chat-message--service {
  background: #e8e8e8;
}
.main-content__chat-photo-container {
  flex-shrink: 0;
  margin-right: 30px;
  width: 49px;
  height: 49px;
  box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.2);
}
.main-content__chat-photo-container img {
  width: 100%;
  max-width: 100%;
}
.main-content__chat-name {
  display: block;
  margin-bottom: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #31333e;
}
.main-content__chat-time {
  display: block;
  margin-bottom: 20px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}
.main-content__chat-paragraph {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #222222;
}
.main-content__chat-file-container {
  margin-top: 15px;
  margin-bottom: 40px;
}
.main-content__chat-right-col {
  margin-left: 100px;
  padding: 55px 35px;
  width: 385px;
  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(100, 100, 100, 0.05);
}
.main-content__chat-info-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.main-content__chat-info-list li:nth-last-of-type(-n+2) {
  margin-bottom: 0;
}
.main-content__chat-info-title {
  margin-bottom: 20px;
  width: 49%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}
.main-content__chat-info-value {
  margin-bottom: 20px;
  width: 49%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #31333e;
}
.main-content__request-photo-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
}
/*==========================================================*/
.main-content__hidden-input-container {
  display: none;
  margin-top: 20px;
  width: 100%;
}
.main-content__cloned {
  display: block;
}
.main-content__hidden-input {
  width: 100%;
}
.main-content__hidden-btns {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
.main-content__hidden-btns .green-btn {
  margin-right: 10px;
}
.main-content__add-field {
  position: relative;
  margin-top: 20px;
  padding-left: 30px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #31333e;
  text-decoration: underline;
}
.main-content__add-field::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../img/plus.svg") no-repeat center;
  background-size: 19px;
  transform: translateY(-50%);
}
.main-content__add-field:hover {
  text-decoration: none;
}
.main-content__add-field:hover::before {
  opacity: 0.7;
}
@media (min-width: 1500px) {
  .main-content {
    margin-left: 300px;
    width: calc(100% - 300px);
  }
  .main-content__header-cell--wide {
    padding: 0 15px;
  }
  .main-content__header-cell--width {
    max-width: 140px;
  }
  .main-content__table-cell--wide {
    padding: 15px;
  }
}
@media (min-width: 1609px) {
  .main-content__header-cell--width {
    max-width: 120px;
  }
  .main-content__table-sort-btn--width {
    max-width: 120px;
  }
  .main-content__table-btn--red {
    margin-top: 0;
  }
}
