.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
  z-index: 2;
}
.page-header__wrapper {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header__logo {
  width: 220px;
}
