.red-btn {
  padding: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #d34539;
  border: 1px solid #d34539;
  border-radius: 5px;
  transition: 0.3s;
}
.red-btn:hover {
  color: #ffffff;
  background: #d34539;
}
.red-btn--profile {
  margin-right: 10px;
  padding: 9px 25px;
  font-size: 14px;
}
.red-btn--store {
  padding: 14px 45px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
}
