/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mont", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #222222;
  background: #fcfcfe;
}
* {
  box-sizing: border-box;
  outline: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  outline: none;
}
button {
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.unscrolled {
  overflow-y: hidden;
}
.hidden-input {
  display: none;
}
input::-webkit-input-placeholder {
  color: #838383;
}
input::-moz-placeholder {
  color: #838383;
}
input:-moz-placeholder {
  color: #838383;
}
input:-ms-input-placeholder {
  color: #838383;
}
textarea::-webkit-input-placeholder {
  color: #838383;
}
textarea::-moz-placeholder {
  color: #838383;
}
textarea:-moz-placeholder {
  color: #838383;
}
textarea:-ms-input-placeholder {
  color: #838383;
}
textarea {
  resize: none;
}
input,
textarea {
  padding: 16px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  border: 1px solid #dddddd;
}
input:focus,
textarea:focus {
  padding: 15px;
  border: 2px solid #f1cc43;
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-Regular.woff") format("woff"), /* Modern Browsers */ url("../fonts/Mont-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  
  /* Modern Browsers */
}
@font-face {
  font-family: "Mont";
  src: url("../fonts/Mont-SemiBold.woff") format("woff"), /* Modern Browsers */ url("../fonts/Mont-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  
  /* Modern Browsers */
}
.paragraph {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #353640;
}
.paragraph--margin-bottom {
  margin-bottom: 20px;
}
.green-btn {
  padding: 15px 45px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: #78bf4d;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.green-btn:hover {
  background: #67a640;
}
.green-btn--small {
  padding: 10px 30px;
}
.green-btn--profile {
  padding: 10px 25px;
  font-size: 14px;
}
.yellow-btn {
  padding: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #222222;
  background: #f1cc43;
  border-radius: 5px;
  transition: 0.3s;
}
.yellow-btn:hover {
  background: #dcb22a;
}
.yellow-btn--profile {
  margin-right: 10px;
  padding: 10px 25px;
  font-size: 14px;
}
.red-btn {
  padding: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #d34539;
  border: 1px solid #d34539;
  border-radius: 5px;
  transition: 0.3s;
}
.red-btn:hover {
  color: #ffffff;
  background: #d34539;
}
.red-btn--profile {
  margin-right: 10px;
  padding: 9px 25px;
  font-size: 14px;
}
.red-btn--store {
  padding: 14px 45px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.white-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.white-square__wrapper {
  padding: 45px 50px 50px;
  max-width: 470px;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
}
.white-square__title {
  margin-bottom: 25px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
}
.white-square__input-container {
  margin-bottom: 20px;
  width: 100%;
}
.white-square__input-label {
  display: block;
  margin-bottom: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #353640;
}
.white-square__input-label--bold {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 18px;
  color: #222222;
}
.white-square__input {
  display: block;
  width: 100%;
}
.white-square__links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.white-square__gray-link {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #353640;
  opacity: 0.4;
  transition: 0.3s;
}
.white-square__gray-link--margin {
  margin-left: 330px;
}
.white-square__gray-link:hover {
  opacity: 1;
}
.metaproject__container {
  margin-top: 20px;
  width: 446px;
}
.metaproject__aside-container {
  padding: 0 20px;
  width: 300px;
  color: transparent;
  transition: 0.3s;
}
.metaproject__link {
  position: relative;
  margin-left: 10px;
  padding-left: 15px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #222222;
  transition: 0.3s;
}
.metaproject__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 83%;
  height: 1px;
  background: #222222;
  opacity: 1;
  transition: 0.3s;
}
.metaproject__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 100%;
  background: url("../img/meta-logo.svg") no-repeat center;
  background-size: 12px;
}
.metaproject__link:hover::before {
  opacity: 0;
}
.metaproject__aside-link {
  margin-left: 0;
  color: transparent;
}
.metaproject__aside-link::before {
  background: transparent;
}
@media (min-width: 1500px) {
  .metaproject__aside-container {
    padding: 0 30px;
    color: #222222;
  }
  .metaproject__aside-link {
    color: #222222;
  }
  .metaproject__aside-link::before {
    background: #222222;
  }
}
.page-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  min-height: 100vh;
  background: #f4f5fb;
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
  z-index: 2;
}
.page-header__wrapper {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header__logo {
  width: 220px;
}
.main-nav {
  position: fixed;
  top: 0;
  padding-top: 80px;
  width: 55px;
  min-height: calc(100vh - 80px);
  height: 100%;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
  transition: 0.3s;
  z-index: 1;
  overflow: hidden;
}
.main-nav:hover {
  width: 300px;
}
.main-nav:hover .main-nav__link {
  padding: 17px 30px 17px 72px;
  min-width: 300px;
  white-space: normal;
}
.main-nav:hover .main-nav__sublink {
  min-width: 300px;
  white-space: normal;
}
.main-nav:hover .main-nav__link::before {
  left: 30px;
}
.main-nav:hover .main-nav__sublink::before {
  left: 40px;
}
.main-nav:hover .main-nav__link::after {
  left: 30px;
  width: calc(100% - 60px);
}
.main-nav:hover .main-nav__link--indicator::after {
  left: 48px;
  width: 10px;
  opacity: 0;
}
.main-nav:hover .metaproject__aside-container {
  padding: 0 30px;
  color: #222222;
}
.main-nav:hover .metaproject__aside-link {
  color: #222222;
}
.main-nav:hover .metaproject__aside-link::before {
  background: #222222;
}
.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 0 30px;
  height: 100%;
}
.main-nav__links-list {
  width: 100%;
}
.main-nav__sublink {
  position: relative;
  display: block;
  padding: 17px 30px 17px 60px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
  transition: 0.3s;
  white-space: nowrap;
}
.main-nav__sublink::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 27px;
  width: 3px;
  height: 3px;
  background: #222222;
  border-radius: 50%;
  transition: 0.3s;
}
.main-nav__sublink:hover {
  background: #ebebeb;
}
.main-nav__link {
  position: relative;
  display: block;
  padding: 17px 30px 17px 55px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
  transition: 0.3s;
  white-space: nowrap;
}
.main-nav__link::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  width: 24px;
  height: 24px;
  background: red;
  transition: 0.3s;
  opacity: 0.7;
}
.main-nav__link--clients::before {
  background: url("../img/user.svg") no-repeat center;
  background-size: 23px;
}
.main-nav__link--couriers::before {
  background: url("../img/courier.svg") no-repeat center;
  background-size: 23px;
}
.main-nav__link--stores::before {
  background: url("../img/shop.svg") no-repeat center;
  background-size: 23px;
}
.main-nav__link--orders::before {
  background: url("../img/order.svg") no-repeat center;
  background-size: 23px;
}
.main-nav__link--requests::before {
  background: url("../img/request.svg") no-repeat center;
  background-size: 23px;
}
.main-nav__link--system::before {
  background: url("../img/settings.svg") no-repeat center;
  background-size: 23px;
}
.main-nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15px;
  width: 24px;
  height: 1px;
  background: #eeeeee;
}
.main-nav__link:hover {
  background: #ebebeb;
}
.main-nav__link--current {
  cursor: default;
  background: #f1cc43;
}
.main-nav__link--current:after {
  display: none;
}
.main-nav__link--current:hover {
  background: #f1cc43;
}
.main-nav__link--inactive:hover {
  background: transparent;
}
.main-nav__link--indicator::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 33px;
  width: 10px;
  height: 10px;
  background: #f34336;
  border-radius: 50%;
  opacity: 1;
  transition: 0.3s;
}
.main-nav__sublink-count {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 8px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background: #f34336;
  border-radius: 20px;
}
@media (min-width: 1500px) {
  .main-nav {
    box-shadow: none;
    width: 300px;
  }
  .main-nav__link {
    padding: 17px 30px 17px 72px;
    width: 300px;
    white-space: normal;
  }
  .main-nav__link::before {
    left: 30px;
  }
  .main-nav__link::after {
    left: 30px;
    width: calc(100% - 60px);
  }
  .main-nav__link--indicator::after {
    left: 48px;
    width: 10px;
    opacity: 0;
  }
  .main-nav__sublink {
    min-width: 300px;
    white-space: normal;
  }
  .main-nav__sublink::before {
    left: 40px;
  }
}
.breadcrumbs {
  margin-bottom: 15px;
}
.breadcrumbs__list {
  display: flex;
  align-items: center;
}
.breadcrumbs__item {
  position: relative;
  margin-right: 8px;
  padding-right: 12px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
  transition: 0.3s;
}
.breadcrumbs__item::before {
  content: "/";
  position: absolute;
  top: 0;
  right: 0;
  color: #222222;
}
.breadcrumbs__item:hover {
  color: #579ad5;
}
.breadcrumbs__item--current {
  color: #afafaf;
}
.breadcrumbs__item--current::before {
  display: none;
}
.breadcrumbs__item--current:hover {
  pointer-events: none;
  color: #afafaf;
}
.logout-btn {
  position: relative;
  padding-right: 35px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #222222;
  opacity: 0.5;
  transition: 0.3s;
}
.logout-btn:hover {
  opacity: 1;
}
.logout-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  background: url("../img/logout.svg") no-repeat center;
  background-size: 19px;
  transform: translateY(-57%);
}
.main-content {
  margin-top: 80px;
  margin-left: 55px;
  width: calc(100% - 50px);
  min-height: 88vh;
}
.main-content__wrapper {
  padding: 40px 25px;
}
.main-content__top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.main-content__title {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #222222;
}
.main-content__search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 365px;
}
.main-content__search-container--margin {
  margin-right: 50px;
  margin-left: auto;
}
.main-content__search-input {
  padding: 8px 0;
  width: 340px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  background: transparent;
  border: none;
  border-bottom: 1px solid #d3d4dd;
}
.main-content__search-input:focus {
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #f1cc43;
}
.main-content__search-btn {
  width: 25px;
  height: 25px;
  background: url("../img/search.svg") no-repeat center;
  background-size: 24px;
  opacity: 0.3;
  transition: 0.3s;
}
.main-content__search-btn:hover {
  opacity: 1;
}
/*==========================================================*/
.main-content__table {
  width: 100%;
}
.main-content__shops-table .main-content__table-row {
  border: 2px solid transparent;
  border-bottom: 1px solid #e8e9ef;
}
.main-content__shops-table .main-content__table-row:hover {
  border: 2px solid #f1cc43;
}
.main-content__shops-table .main-content__table-row:hover .main-content__table-link {
  color: #579ad5;
}
.main-content__header-row {
  vertical-align: top;
  width: 100%;
}
.main-content__header-cell {
  padding: 0 15px 15px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555975;
  text-align: left;
}
.main-content__header-cell--no-padding {
  padding: 0;
}
.main-content__header-cell--product-padding {
  padding-left: 20px;
}
.main-content__table-sort-btn {
  position: relative;
  padding-right: 15px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555975;
  text-align: left;
}
.main-content__table-sort-btn::before {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  width: 7px;
  height: 7px;
  background: url("../img/dropdown.svg") no-repeat center;
  background-size: 6px;
}
.main-content__table-sort-btn--width {
  max-width: 140px;
}
/*==========================================================*/
.main-content__table-row {
  width: 100%;
  border-bottom: 1px solid #e8e9ef;
  background: #ffffff;
}
.main-content__table-row:last-child {
  box-shadow: 0 5px 5px rgba(100, 100, 100, 0.05);
}
.main-content__table-row--top {
  vertical-align: top;
}
.main-content__table-row--invisible {
  opacity: 0.7;
  background: #e8e9ef;
}
.main-content__table-row--invisible .main-content__table-eye-btn {
  background: url("../img/eye.svg") no-repeat center;
  background-size: 20px;
  opacity: 0.5;
}
.main-content__table-row--invisible .main-content__table-eye-btn:hover {
  opacity: 0.3;
}
.main-content__table-row--invisible .main-content__table-list-btn {
  background: url("../img/edit.svg") no-repeat center;
  background-size: 20px;
  opacity: 0.5;
}
.main-content__table-row--invisible .main-content__table-list-btn:hover {
  opacity: 0.3;
}
.main-content__table-row--invisible .main-content__table-delete-btn {
  background: url("../img/delete.svg") no-repeat center;
  background-size: 20px;
  opacity: 0.5;
}
.main-content__table-row--invisible .main-content__table-delete-btn:hover {
  opacity: 0.3;
}
.main-content__table-row--subcategory {
  display: none;
  background: #f2f2f2;
}
.main-content__table-row--invisible-subcategory .main-content__table-eye-btn {
  pointer-events: none;
}
.main-content__table-cell {
  padding: 18px 0;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
}
.main-content__table-cell--padding {
  padding: 15px;
}
.main-content__table-cell--product {
  padding-right: 20px;
}
.main-content__table-cell--red {
  color: #f34336;
}
.main-content__table-cell--category-wide {
  width: 58%;
}
.main-content__activated-from {
  position: relative;
  display: block;
  margin-bottom: 13px;
}
.main-content__activated-from::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 35px;
  width: 6px;
  height: 1px;
  background: #222222;
}
.main-content__table-count--underline {
  border-bottom: 1px dashed #a9a9a9;
}
.main-content__id {
  display: inline-block;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  color: #222222;
  border-bottom: 1px dashed #a9a9a9;
}
.main-content__id--link {
  color: #579ad5;
  transition: 0.3s;
}
.main-content__id--link:hover {
  color: #222222;
}
.main-content__table-img {
  width: 53px;
  height: 53px;
}
.main-content__table-product-img {
  padding-left: 20px;
  width: 222px;
  height: 155px;
}
.main-content__table-product-name {
  font-weight: 600;
  color: #579ad5;
}
.main-content__table-change-name {
  border-bottom: 1px dashed #a9a9a9;
}
.main-content__table-link {
  color: #579ad5;
  transition: 0.3s;
}
.main-content__table-link:hover {
  color: #222222;
}
.main-content__table-link--shops {
  color: #222222;
}
.main-content__table-btn {
  padding: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
  transition: 0.3s;
}
.main-content__table-btn--yellow {
  margin-right: 8px;
  color: #222222;
  background: #f1cc43;
}
.main-content__table-btn--yellow:hover {
  background: #dcb22a;
}
.main-content__table-btn--gray {
  margin-right: 8px;
  color: #222222;
  background: #eeeeee;
}
.main-content__table-btn--gray:hover {
  background: #e1e1e1;
}
.main-content__table-btn--red {
  margin-top: 8px;
  color: #d34539;
  border: 1px solid #d34539;
}
.main-content__table-btn--red:hover {
  color: #ffffff;
  background: #d34539;
}
.main-content__table-eye-btn {
  width: 21px;
  height: 21px;
  background: url("../img/eye--hover.svg") no-repeat center;
  background-size: 20px;
  opacity: 1;
}
.main-content__table-eye-btn:hover {
  opacity: 0.5;
}
.main-content__table-list-btn {
  margin-right: 15px;
  width: 21px;
  height: 21px;
  background: url("../img/edit--hover.svg") no-repeat center;
  background-size: 20px;
  opacity: 1;
}
.main-content__table-list-btn:hover {
  opacity: 0.5;
}
.main-content__table-delete-btn {
  margin-right: 15px;
  width: 21px;
  height: 21px;
  background: url("../img/delete--hover.svg") no-repeat center;
  background-size: 20px;
  opacity: 1;
}
.main-content__table-delete-btn:hover {
  opacity: 0.5;
}
.main-content__table-dropdown-btn {
  margin-left: 20px;
  width: 10px;
  height: 10px;
  background: url("../img/dropdown.svg") no-repeat center;
  background-size: 9px;
  vertical-align: middle;
}
.main-content__table-dropdown-btn--opened {
  transform: rotate(180deg);
}
/*==========================================================*/
.main-content__dropdowns-block {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
  max-width: 1213px;
}
.main-content__dropdown-container {
  margin-right: 5%;
  width: 48%;
  max-width: 450px;
}
.main-content__dropdown-container:last-of-type {
  margin-right: 0;
}
.main-content__dropdown-container--split {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.main-content__dropdown-container--split > div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.main-content__dropdown-container--split > div .main-content__dropdown-label {
  margin-right: 10px;
  margin-bottom: 0;
}
.main-content__dropdown-container--wide {
  margin: 0;
  width: 100%;
  max-width: none;
}
.main-content__dropdown-container--margin {
  margin-bottom: 20px;
}
.main-content__dropdown-container--no-title {
  margin-top: 29px;
}
.main-content__dropdown-label {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #353640;
}
.main-content__dropdown-label--main {
  width: 100%;
}
.main-content__dropdown-label-gray {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #a2a4af;
}
.main-content__dropdown-inner-container {
  position: relative;
  padding: 16px 37px 16px 20px;
  background: #ffffff;
  border: 1px solid #dddddd;
  cursor: pointer;
}
.main-content__dropdown-inner-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 100%;
  background: #f1cc43 url("../img/dropdown.svg") no-repeat center;
  background-size: 7px;
}
.main-content__dropdown-inner-container--focus::before {
  transform: rotate(180deg);
}
.main-content__dropdown-inner-container--focus {
  padding: 15px 37px 15px 20px;
  border: 2px solid #f1cc43;
}
.main-content__dropdown-current {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}
.main-content__dropdown-list {
  position: absolute;
  top: 100%;
  left: -1px;
  display: none;
  width: 101%;
  max-height: 126px;
  background: #ffffff;
  box-shadow: 0 5px 5px rgba(100, 100, 100, 0.05);
  overflow: auto;
  z-index: 1;
}
.main-content__dropdown-list--opened {
  display: block;
}
.main-content__dropdown-item {
  padding: 10px 20px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  cursor: pointer;
}
.main-content__dropdown-item:hover {
  background: #ebebeb;
}
/*==========================================================*/
.main-content__gray-section {
  margin-bottom: 40px;
  background: #f0f0f5;
}
.main-content__gray-top {
  position: relative;
  padding: 11px 60px;
  background: #e8e8eb;
}
.main-content__gray-top::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/calendar.svg") no-repeat center;
  background-size: 19px;
  opacity: 0.7;
  transform: translateY(-55%);
}
.main-content__gray-title {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}
.main-content__gray-bottom {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 25px 20px 40px;
}
.main-content__gray-bottom--start {
  justify-content: flex-start;
}
.main-content__gray-input-container {
  margin-bottom: 30px;
  width: 24%;
  max-width: 350px;
}
.main-content__gray-file-container {
  margin-bottom: 30px;
  width: 100%;
}
/*==========================================================*/
.main-content__upload-btn {
  display: inline-block;
  margin-right: 20px;
  padding: 12px 20px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  background: #e0e0e0;
  border: 1px solid #cccccc;
  transition: 0.3s;
  cursor: pointer;
}
.main-content__upload-btn:hover {
  background: #cccccc;
}
.main-content__upload-message {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #969699;
}
/*==========================================================*/
.main-content__profile-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: 40px;
}
.main-content__profile-img-container {
  margin-right: auto;
  width: 80px;
  height: 100%;
}
.main-content__profile-img-container img {
  max-width: 100%;
  width: 100%;
}
.main-content__profile-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: calc(100% - 100px);
}
.main-content__profile-name {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
}
.main-content__profile-data {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: 100px;
  margin-bottom: 65px;
  width: calc(100% - 100px);
  max-width: 1235px;
}
.main-content__profile-data-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 34%;
}
.main-content__profile-data-list--col-1 {
  max-width: 337px;
}
.main-content__profile-data-list--col-2 {
  justify-content: flex-start;
}
.main-content__profile-data-list--col-3 {
  justify-content: flex-start;
  width: 38%;
}
.main-content__profile-data-list--col-3 .main-content__profile-data-item--value {
  width: 60%;
}
.main-content__profile-data-list:last-of-type {
  margin-right: 0;
}
.main-content__profile-data-item {
  margin-bottom: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}
.main-content__profile-data-item--title {
  width: 49%;
  max-width: 185px;
}
.main-content__profile-data-item--value {
  min-width: 143px;
  width: 35%;
}
.main-content__profile-data-item--documents {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 51%;
}
.main-content__profile-star {
  display: inline-block;
  margin-right: 6px;
  width: 13px;
  height: 13px;
  background: #dcb22a;
}
.main-content__profile-star--empty {
  background: silver;
}
.main-content__profile-star:last-of-type {
  margin-right: 0;
}
.main-content__profile-data-link {
  color: #579ad5;
  border-bottom: 1px solid #b3c8f2;
  transition: 0.3s;
  cursor: pointer;
}
.main-content__profile-data-link:hover {
  border-color: transparent;
}
.main-content__profile-document-container {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 62px;
  height: 84px;
}
.main-content__profile-document-container:last-of-type {
  margin-right: 0;
}
.main-content__profile-document-container img {
  width: 100%;
  max-width: 100%;
}
.main-content__profile-big-document-container {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 265px;
  height: 250px;
}
.main-content__profile-big-document-container:last-of-type {
  margin-right: 0;
}
.main-content__profile-big-document-container img {
  height: 100%;
  max-height: 100%;
}
.main-content__profile-data-sublist {
  margin-top: 3px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.main-content__profile-data-subitem {
  display: inline-block;
  margin: 0 2%;
  margin-bottom: 10px;
  width: 28%;
  color: #579ad5;
  line-height: 14px;
  transition: 0.3s;
  cursor: pointer;
}
.main-content__profile-data-subitem:hover {
  border-color: transparent;
}
.main-content__profile-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 45px;
  width: 100%;
}
.main-content__profile-stats-title {
  margin-bottom: 30px;
  width: 100%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #222222;
}
.main-content__profile-stats-item {
  margin-right: 21px;
  padding: 25px 20px;
  width: 18%;
  max-width: 245px;
  height: 120px;
  background: #e8e8ea;
}
.main-content__profile-stats-item:last-of-type {
  margin-right: 0;
}
.main-content__profile-stats-paragraph {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}
.main-content__profile-stats-bold {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #222222;
}
.main-content__profile-stats-small {
  font-size: 16px;
}
.main-content__profile-reviews {
  width: 100%;
}
.main-content__profile-reviews-btns {
  margin-bottom: 20px;
}
.main-content__profile-reviews-btn {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  padding-bottom: 3px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #222222;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}
.main-content__profile-reviews-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #f1cc43;
  opacity: 0;
}
.main-content__profile-reviews-btn:hover {
  opacity: 1;
}
.main-content__profile-reviews-table {
  display: none;
}
.main-content__profile-reviews-table th,
.main-content__profile-reviews-table td {
  width: 20%;
}
.main-content__profile-review-author {
  display: inline-block;
  color: #579ad5;
  border-bottom: 1px solid #b3c8f2;
}
#profile-review-all:checked ~ .main-content__profile-reviews-btns label[for="profile-review-all"],
#profile-review-negative:checked ~ .main-content__profile-reviews-btns label[for="profile-review-negative"] {
  opacity: 1;
}
#profile-review-all:checked ~ .main-content__profile-reviews-btns label[for="profile-review-all"]::before,
#profile-review-negative:checked ~ .main-content__profile-reviews-btns label[for="profile-review-negative"]::before {
  opacity: 1;
}
#profile-review-all:checked ~ #profile-reviews-table-all {
  display: block;
}
#profile-review-negative:checked ~ #profile-reviews-table-negative {
  display: block;
}
/*==========================================================*/
.main-content__store-info {
  display: flex;
  align-items: flex-start;
}
.main-content__store-photo {
  margin-right: 40px;
}
.main-content__store-photo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  width: 263px;
  height: 197px;
  background: #ffffff;
  border: 1px solid #dddddd;
}
.main-content__store-photo-title {
  margin-bottom: 5px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #353640;
}
.main-content__store-photo-description {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
  opacity: 0.5;
}
.main-content__store-photo-delete {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: url("../img/plus.svg") no-repeat center;
  background-size: 19px;
  transform: rotate(45deg);
}
.main-content__store-photo-delete:hover {
  opacity: 0.7;
}
.main-content__store-data {
  width: calc(100% - 303px);
}
.main-content__store-split-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.main-content__store-split-container .white-square__input-container {
  width: 48%;
}
.main-content__store-btns-container a {
  display: inline-block;
  margin-right: 30px;
}
.main-content__data-range-container {
  width: 30%;
}
/*==========================================================*/
.main-content__order-status {
  position: relative;
  display: inline-block;
  margin-right: auto;
  margin-left: 15px;
  width: 73px;
  min-height: 27px;
}
.main-content__order-status::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 25px;
  width: 100%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
}
.main-content__order-status--in-progress::before {
  content: "В процессе";
  color: #ffffff;
  background: #78bf4d;
}
.main-content__order-status--denied::before {
  content: "Отменен";
  color: #ffffff;
  background: #b94343;
}
.main-content__order-status--pending::before {
  content: "Ожидание";
  color: #222222;
  background: #f1cc43;
}
.main-content__order-split .main-content__gray-section {
  margin-right: 20px;
  margin-bottom: 0;
  width: 48%;
}
.main-content__order-split .main-content__gray-section:last-of-type {
  margin-right: 0;
}
.main-content__order-split .main-content__profile-data-list {
  width: auto;
}
/*==========================================================*/
.main-content__order-card {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 18px;
  margin-bottom: 18px;
  padding: 10px 15px 30px;
  max-width: 485px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
}
.main-content__order-card-number {
  width: 100%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}
.main-content__order-card-img-container {
  margin-right: 15px;
  width: 170px;
  height: 105px;
  overflow: hidden;
}
.main-content__order-card-img-container img {
  max-width: 100%;
}
.main-content__order-card-info {
  width: 59%;
}
.main-content__order-card-list {
  margin-top: 10px;
}
.main-content__order-card-item {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #222222;
}
/*==========================================================*/
.main-content__chat-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main-content__chat-left-col {
  width: calc(100% - 485px);
}
.main-content__chat-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  padding: 25px;
  width: 100%;
  box-shadow: 10px 10px 20px rgba(100, 100, 100, 0.05);
}
.main-content__chat-message:last-of-type {
  margin-bottom: 0;
}
.main-content__chat-message--user {
  background: #ffffff;
}
.main-content__chat-message--service {
  background: #e8e8e8;
}
.main-content__chat-photo-container {
  flex-shrink: 0;
  margin-right: 30px;
  width: 49px;
  height: 49px;
  box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.2);
}
.main-content__chat-photo-container img {
  width: 100%;
  max-width: 100%;
}
.main-content__chat-name {
  display: block;
  margin-bottom: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #31333e;
}
.main-content__chat-time {
  display: block;
  margin-bottom: 20px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
}
.main-content__chat-paragraph {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #222222;
}
.main-content__chat-file-container {
  margin-top: 15px;
  margin-bottom: 40px;
}
.main-content__chat-right-col {
  margin-left: 100px;
  padding: 55px 35px;
  width: 385px;
  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(100, 100, 100, 0.05);
}
.main-content__chat-info-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.main-content__chat-info-list li:nth-last-of-type(-n+2) {
  margin-bottom: 0;
}
.main-content__chat-info-title {
  margin-bottom: 20px;
  width: 49%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}
.main-content__chat-info-value {
  margin-bottom: 20px;
  width: 49%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #31333e;
}
.main-content__request-photo-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 90%;
}
/*==========================================================*/
.main-content__hidden-input-container {
  display: none;
  margin-top: 20px;
  width: 100%;
}
.main-content__cloned {
  display: block;
}
.main-content__hidden-input {
  width: 100%;
}
.main-content__hidden-btns {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
.main-content__hidden-btns .green-btn {
  margin-right: 10px;
}
.main-content__add-field {
  position: relative;
  margin-top: 20px;
  padding-left: 30px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #31333e;
  text-decoration: underline;
}
.main-content__add-field::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../img/plus.svg") no-repeat center;
  background-size: 19px;
  transform: translateY(-50%);
}
.main-content__add-field:hover {
  text-decoration: none;
}
.main-content__add-field:hover::before {
  opacity: 0.7;
}
@media (min-width: 1500px) {
  .main-content {
    margin-left: 300px;
    width: calc(100% - 300px);
  }
  .main-content__header-cell--wide {
    padding: 0 15px;
  }
  .main-content__header-cell--width {
    max-width: 140px;
  }
  .main-content__table-cell--wide {
    padding: 15px;
  }
}
@media (min-width: 1609px) {
  .main-content__header-cell--width {
    max-width: 120px;
  }
  .main-content__table-sort-btn--width {
    max-width: 120px;
  }
  .main-content__table-btn--red {
    margin-top: 0;
  }
}
.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  z-index: 10;
}
.popup--showed {
  display: block;
}
.popup__promocode {
  position: relative;
  display: none;
  margin: 28vh auto;
  padding: 45px 50px 50px;
  width: 855px;
  background-color: #ffffff;
}
.popup__action,
.popup__action-edit {
  position: relative;
  display: none;
  margin: 28vh auto;
  padding: 45px 50px 50px;
  width: 755px;
  background-color: #ffffff;
}
.popup__support {
  position: relative;
  display: none;
  margin: 28vh auto;
  padding: 45px 50px 50px;
  width: 855px;
  background-color: #ffffff;
}
.popup__product-edit {
  position: relative;
  display: none;
  margin: 20vh auto;
  padding: 45px 50px 50px;
  width: 920px;
  background-color: #ffffff;
}
.popup__create-category {
  position: relative;
  display: none;
  margin: 28vh auto;
  padding: 45px 50px 50px;
  width: 755px;
  background-color: #ffffff;
}
.popup__edit-category {
  position: relative;
  display: none;
  margin: 28vh auto;
  padding: 45px 50px 50px;
  width: 755px;
  background-color: #ffffff;
}
.popup__title {
  margin-bottom: 25px;
  width: 100%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #222222;
}
.popup__promo-dropdowns-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
}
.popup__input-container {
  margin-bottom: 0;
  width: 185px;
}
.popup__dropdown-container {
  width: 160px;
}
.popup__input,
.popup__dropdown-current,
.popup__dropdown-item {
  font-size: 16px;
}
.popup__datetime-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.popup__data-range-container {
  margin-right: 30px;
  margin-bottom: 0;
  width: 265px;
}
.popup__required {
  color: #d34539;
}
.popup__split-container {
  display: flex;
  align-items: flex-start;
}
.popup__split-container > div {
  margin-right: 30px;
  width: 265px;
}
.popup__split-container .popup__file-container {
  width: 325px;
}
.popup__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 21px;
  height: 21px;
  background: transparent;
  border: none;
  font-size: 0;
  outline: none;
  cursor: pointer;
}
.popup__close::before,
.popup__close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 3px;
  background: #c2c2c2;
  transform: translate(-45%, -75%);
  transition: 0.3s;
}
.popup__close::before {
  transform: translate(-45%, -75%) rotate(45deg);
}
.popup__close::after {
  transform: translate(-45%, -75%) rotate(-45deg);
}
.popup__close:hover::before,
.popup__close:hover::after {
  background: #222222;
}
.popup__radio-btns {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.popup__radio-btn {
  margin-right: 10px;
  font-size: 16px;
  color: #222222;
  background: #eeeeee;
  cursor: pointer;
}
.popup__radio-btn:hover {
  background: #e1e1e1;
}
.popup__radio-btn:last-of-type {
  margin-right: 0;
}
#create-category,
#create-subcategory {
  display: none;
}
#create-category-btn:checked ~ .popup__radio-btns label[for="create-category-btn"],
#create-subcategory-btn:checked ~ .popup__radio-btns label[for="create-subcategory-btn"] {
  background: #f1cc43;
  cursor: default;
}
#create-category-btn:checked ~ #create-category,
#create-subcategory-btn:checked ~ #create-subcategory {
  display: block;
}
