.yellow-btn {
  padding: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #222222;
  background: #f1cc43;
  border-radius: 5px;
  transition: 0.3s;
}
.yellow-btn:hover {
  background: #dcb22a;
}
.yellow-btn--profile {
  margin-right: 10px;
  padding: 10px 25px;
  font-size: 14px;
}
