.breadcrumbs {
  margin-bottom: 15px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 8px;
  padding-right: 12px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #222222;
  transition: 0.3s;

  &::before {
    content: "/";
    position: absolute;
    top: 0;
    right: 0;
    color: #222222;
  }

  &:hover {
    color: #579ad5;
  }

  &--current {
    color: #afafaf;
  }

  &--current::before {
    display: none;
  }

  &--current:hover {
    pointer-events: none;
    color: #afafaf;
  }
}