@font-face {
  font-family: "Mont";

  src: url("../fonts/Mont-Regular.woff") format("woff"), /* Modern Browsers */
  url("../fonts/Mont-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mont";

  src: url("../fonts/Mont-SemiBold.woff") format("woff"), /* Modern Browsers */
  url("../fonts/Mont-SemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 600;
  font-style: normal;
}