.green-btn {
  padding: 15px 45px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: #78bf4d;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: #67a640;
  }

  &--small {
    padding: 10px 30px;
  }

  &--profile {
    padding: 10px 25px;
    font-size: 14px;
  }
}