.logout-btn {
  position: relative;
  padding-right: 35px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #222222;
  opacity: 0.5;
  transition: 0.3s;

  &:hover {
    opacity: 1;
  }

  &::before {
   content: "";
   position: absolute;
   top: 50%;
   right: 0;
   width: 20px;
   height: 20px;
   background: url("../img/logout.svg") no-repeat center;
    background-size: 19px;
    transform: translateY(-57%);
  }
}