.main-nav {
  position: fixed;
  top: 0;
  padding-top: 80px;
  width: 55px;
  min-height: ~"calc(100vh - 80px)";
  height: 100%;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
  transition: 0.3s;
  z-index: 1;
  overflow: hidden;

  //display: none;

  &:hover {
    width: 300px;
  }

  &:hover .main-nav__link {
    padding: 17px 30px 17px 72px;
    min-width: 300px;
    white-space: normal;
  }

  &:hover .main-nav__sublink {
    //margin-left: 72px;
    min-width: 300px;
    white-space: normal;
    //opacity: 1;
  }

  &:hover .main-nav__link::before {
    left: 30px;
  }

  &:hover .main-nav__sublink::before {
    left: 40px;
  }

  &:hover .main-nav__link::after {
    left: 30px;
    //width: 24px;
    width: ~"calc(100% - 60px)";
  }

  &:hover .main-nav__link--indicator::after {
    left: 48px;
    width: 10px;
    opacity: 0;
  }

  &:hover .metaproject__aside-container {
    padding: 0 30px;
    color: #222222;
  }

  &:hover .metaproject__aside-link {
    color: #222222;
  }

  &:hover .metaproject__aside-link::before {
    background: #222222;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px 0 30px;
  height: 100%;
}

.main-nav__links-list {
  width: 100%;
}

.main-nav__sublink {
  position: relative;
  display: block;
  //margin-left: 55px;
  padding: 17px 30px 17px 60px;
  //padding: 17px 30px 17px 72px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
  transition: 0.3s;
  white-space: nowrap;
  //opacity: 0;

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 27px;
    width: 3px;
    height: 3px;
    background: #222222;
    border-radius: 50%;
    transition: 0.3s;
  }

  &:hover {
    background: darken(#ffffff, 8%);
  }
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 17px 30px 17px 55px;
  //padding: 17px 30px 17px 72px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #222222;
  transition: 0.3s;
  white-space: nowrap;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 15px;
    width: 24px;
    height: 24px;
    background: red;
    transition: 0.3s;
    opacity: 0.7;
  }

  &--clients::before {
    background: url("../img/user.svg") no-repeat center;
    background-size: 23px;
  }

  &--couriers::before {
    background: url("../img/courier.svg") no-repeat center;
    background-size: 23px;
  }

  &--stores::before {
    background: url("../img/shop.svg") no-repeat center;
    background-size: 23px;
  }

  &--orders::before {
    background: url("../img/order.svg") no-repeat center;
    background-size: 23px;
  }

  &--requests::before {
    background: url("../img/request.svg") no-repeat center;
    background-size: 23px;
  }

  &--system::before {
    background: url("../img/settings.svg") no-repeat center;
    background-size: 23px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 24px;
    height: 1px;
    background: #eeeeee;
  }

  &:hover {
    background: darken(#ffffff, 8%);
  }

  &--current {
    cursor: default;
    background: #f1cc43;
  }

  &--current:after {
    display: none;
  }

  &--current:hover {
    background: #f1cc43;
  }

  &--inactive:hover {
    background: transparent;
  }

  &--indicator::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 33px;
    width: 10px;
    height: 10px;
    background: #f34336;
    border-radius: 50%;
    opacity: 1;
    transition: 0.3s;
  }
}

.main-nav__sublink-count {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 8px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background: #f34336;
  border-radius: 20px;
}

@media (min-width: 1500px) {
  .main-nav {
    //position: static;
    box-shadow: none;
    width: 300px;

    //&:hover .main-nav__sublink::before {
    //  left: 40px;
    //}
  }

  .main-nav__link {
    padding: 17px 30px 17px 72px;
    width: 300px;
    white-space: normal;

    &::before {
      left: 30px;
    }

    &::after {
        left: 30px;
        //width: 24px;
        width: ~"calc(100% - 60px)";
      }

    &--indicator::after {
      left: 48px;
      width: 10px;
      opacity: 0;
    }
  }

  .main-nav__sublink {
    //margin-left: 72px;
    min-width: 300px;
    white-space: normal;
    //opacity: 1;

    &::before {
        left: 40px;
      }
  }
}