.metaproject__container {
  margin-top: 20px;
  width: 446px;
}

.metaproject__aside-container {
  padding: 0 20px;
  width: 300px;
  color: transparent;
  transition: 0.3s;
}

.metaproject__link {
  position: relative;
  margin-left: 10px;
  padding-left: 15px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #222222;
  transition: 0.3s;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 83%;
    height: 1px;
    background: #222222;
    opacity: 1;
    transition: 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 100%;
    background: url("../img/meta-logo.svg") no-repeat center;
    background-size: 12px;
  }

  &:hover::before {
    opacity: 0;
  }
}

.metaproject__aside-link {
  margin-left: 0;
  color: transparent;

  &::before {
    background: transparent;
  }
}

@media (min-width: 1500px) {
  .metaproject__aside-container {
    padding: 0 30px;
    color: #222222;
  }

  .metaproject__aside-link {
    color: #222222;

    &::before {
      background: #222222;
    }
  }
}