.paragraph {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #353640;

  &--margin-bottom {
    margin-bottom: 20px;
  }
}