.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  z-index: 10;

  &--showed {
    display: block;
  }
}

.popup__promocode {
  position: relative;
  display: none;
  margin: 28vh auto;
  padding: 45px 50px 50px;
  width: 855px;
  background-color: #ffffff;
}

.popup__action,
.popup__action-edit {
  position: relative;
  display: none;
  margin: 28vh auto;
  padding: 45px 50px 50px;
  width: 755px;
  background-color: #ffffff;
}

.popup__support {
  position: relative;
  display: none;
  margin: 28vh auto;
  padding: 45px 50px 50px;
  width: 855px;
  background-color: #ffffff;
}

.popup__product-edit {
  position: relative;
  display: none;
  margin: 20vh auto;
  padding: 45px 50px 50px;
  width: 920px;
  background-color: #ffffff;
}

.popup__create-category {
  position: relative;
  display: none;
  margin: 28vh auto;
  padding: 45px 50px 50px;
  width: 755px;
  background-color: #ffffff;
}

.popup__edit-category {
  position: relative;
  display: none;
  margin: 28vh auto;
  padding: 45px 50px 50px;
  width: 755px;
  background-color: #ffffff;
}

.popup__title {
  margin-bottom: 25px;
  width: 100%;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #222222;
}

.popup__promo-dropdowns-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
}

.popup__input-container {
  margin-bottom: 0;
  width: 185px;
}

.popup__dropdown-container {
  width: 160px;
}

.popup__input,
.popup__dropdown-current,
.popup__dropdown-item {
  font-size: 16px;
}

.popup__datetime-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.popup__data-range-container {
  margin-right: 30px;
  margin-bottom: 0;
  width: 265px;
}

.popup__required {
  color: #d34539;
}

.popup__split-container {
  display: flex;
  align-items: flex-start;

  & > div {
    margin-right: 30px;
    width: 265px;
  }

  & .popup__file-container {
    width: 325px;
  }
}


.popup__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 21px;
  height: 21px;
  background: transparent;
  border: none;
  font-size: 0;
  outline: none;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 17px;
    height: 3px;
    background: #c2c2c2;
    transform: translate(-45%, -75%);
    transition: 0.3s;
  }

  &::before {
    transform: translate(-45%, -75%) rotate(45deg);
  }

  &::after {
    transform: translate(-45%, -75%) rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background: #222222;
  }
}

.popup__radio-btns {
  display: flex;
  align-items: center;
  //justify-content: center;
  margin-bottom: 40px;
}

.popup__radio-btn {
  margin-right: 10px;
  font-size: 16px;
  color: #222222;
  background: #eeeeee;
  cursor: pointer;

  &:hover {
    background: darken(#eeeeee, 5%);
  }

  &:last-of-type {
    margin-right: 0;
  }
}

#create-category,
#create-subcategory {
  display: none;
}

#create-category-btn:checked ~ .popup__radio-btns label[for="create-category-btn"],
#create-subcategory-btn:checked ~ .popup__radio-btns label[for="create-subcategory-btn"] {
  background: #f1cc43;
  cursor: default;
}

#create-category-btn:checked ~ #create-category,
#create-subcategory-btn:checked ~ #create-subcategory {
  display: block;
}