body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mont", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #222222;
  background: #fcfcfe;
  //overflow: hidden;
}

* {
  box-sizing: border-box;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  //max-width: 100%;
  //max-height: 100%;
}

.unscrolled {
  overflow-y: hidden;
}

.hidden-input {
  display: none;
}

input::-webkit-input-placeholder {color:#838383;}
input::-moz-placeholder          {color:#838383;}
input:-moz-placeholder           {color:#838383;}
input:-ms-input-placeholder      {color:#838383;}

textarea::-webkit-input-placeholder {color:#838383;}
textarea::-moz-placeholder          {color:#838383;}
textarea:-moz-placeholder           {color:#838383;}
textarea:-ms-input-placeholder      {color:#838383;}

textarea {
  resize: none;
}

input,
textarea {
  padding: 16px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  border: 1px solid #dddddd;

  &:focus {
    padding: 15px;
    border: 2px solid #f1cc43;
  }
}