.white-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.white-square__wrapper {
  padding: 45px 50px 50px;
  max-width: 470px;
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
}

.white-square__title {
  margin-bottom: 25px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #222222;
}

.white-square__form {}

.white-square__input-container {
  margin-bottom: 20px;
  width: 100%;
}

.white-square__input-label {
  display: block;
  margin-bottom: 10px;
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #353640;

  &--bold {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 18px;
    color: #222222;
  }
}

.white-square__input {
  display: block;
  width: 100%;
}

.white-square__links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.white-square__form-submit {}

.white-square__gray-link {
  font-family: "Mont", "Arial", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #353640;
  opacity: 0.4;
  transition: 0.3s;

  &--margin {
    margin-left: 330px;
  }

  &:hover {
    opacity: 1;
  }
}